<div class="section relative">
  <app-sub-header
    pageTitle="Order"
    ></app-sub-header>

    <div class="flex justify-end">
      <div class="text-primary flex gap-2 text-sm cursor-pointer active:scale-95">
        <div class="hs-dropdown text-sm [--strategy:absolute] [--flip:false] hs-dropdown-example relative inline-flex">
          <button (click)="toggleCalender()" id="hs-dropdown-example" type="button" class="py-2 px-4 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-gray-200 bg-white text-gray-800 shadow-sm hover:bg-gray-50 focus:outline-none focus:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none" aria-haspopup="menu" aria-expanded="false" aria-label="Dropdown">
            Today
            <svg class="hs-dropdown-open:rotate-180 size-4 text-gray-600" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
              <path d="m6 9 6 6 6-6"></path>
            </svg>
          </button>

          <div *ngIf="calender" class=" transition-[opacity,margin] duration w-32 absolute top-[48px]  z-10 mt-2 min-w-32 bg-white shadow-md rounded-lg p-2" role="menu" aria-orientation="vertical" aria-labelledby="hs-dropdown-example">
            <a class="flex items-center gap-x-3.5 py-2 px-3 rounded-lg text-sm text-gray-800 hover:bg-gray-100 focus:outline-none focus:bg-gray-100" href="#">
              2023
            </a>
            <a class="flex items-center gap-x-3.5 py-2 px-3 rounded-lg text-sm text-gray-800 hover:bg-gray-100 focus:outline-none focus:bg-gray-100" href="#">
              2022
            </a>
            <a class="flex items-center gap-x-3.5 py-2 px-3 rounded-lg text-sm text-gray-800 hover:bg-gray-100 focus:outline-none focus:bg-gray-100" href="#">
              2021
            </a>
            <a class="flex items-center gap-x-3.5 py-2 px-3 rounded-lg text-sm text-gray-800 hover:bg-gray-100 focus:outline-none focus:bg-gray-100" href="#">
              2020
            </a>
          </div>
        </div>
      </div>
    </div>

      <!-- Table Section -->
      <app-table [tableHeader]="tableHeader" [tableData]="sales" (viewAction)="toggleOrderDetail()"></app-table>

<!-- End Table Section -->

</div>


<!-- Order Details -->
<p-sidebar [(visible)]="orderDetail" position="right" [style]="{'width': '800px'}">
  <app-order-detail></app-order-detail>
</p-sidebar>
<!-- Order details end -->



