
<div class="flex justify-between gap-2 items-center bg-white py-3 px-4">
  <div class="id flex items-center  gap-4">
    <button (click)="goBack()" class="h-10 w-10 rounded-full hover:bg-gray-200 flex justify-center items-center active:scale-95">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8"/>
      </svg>
    </button>
    #INV-048922 <span class="text-xs text-blue-400">Pending</span>
  </div>
  <div class="flex gap-2">

    <button class="px-4 py-2 bg-primary flex gap-2 items-center text-white rounded-md">
      Send Invoice
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope-fill" viewBox="0 0 16 16">
        <path d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414zM0 4.697v7.104l5.803-3.558zM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586zm3.436-.586L16 11.801V4.697z"/>
      </svg>
    </button>

  </div>
</div>

<!-- Buttons -->
<div class="mt-6 flex justify-start gap-x-3">
  <a class="py-2 px-3 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-gray-200 bg-white text-gray-800 shadow-sm hover:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none focus:outline-none focus:bg-gray-50" href="#">
  <svg class="shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4"/><polyline points="7 10 12 15 17 10"/><line x1="12" x2="12" y1="15" y2="3"/></svg>
    Invoice PDF
  </a>
  <a class="py-2 px-3 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border hover:font-bold  focus:outline-none text-gray-800  disabled:opacity-50 disabled:pointer-events-none" href="#">
    <svg class="shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="6 9 6 2 18 2 18 9"/><path d="M6 18H4a2 2 0 0 1-2-2v-5a2 2 0 0 1 2-2h16a2 2 0 0 1 2 2v5a2 2 0 0 1-2 2h-2"/><rect width="12" height="8" x="6" y="14"/></svg>
    Print
  </a>
</div>
<!-- End Buttons -->

<!-- Invoice -->
<div class="max-w-[65rem] px-4 sm:px-6 lg:px-4  my-4 sm:my-10">
  <div class="sm:w-11/12 lg:w-3/4 ">
    <!-- Card -->
    <div class="flex flex-col p-2 sm:p-5 bg-white shadow-md rounded-xl">
      <!-- Grid -->
      <div class="flex justify-between">
        <div class="flex items-start gap-4 mt-12 px-8">
          <img src="/assets/logo.png" alt="">

          <div class="flex flex-col items-start">
            <h1 class=" text-lg md:text-2xl font-bold text-primary">Starters</h1>
            <span class="text-xs text-gray-500">www.webiste.com</span>
            <span class="text-xs text-gray-500">hello&#64;email.com</span>
            <span class="text-xs text-gray-500">www.webiste.com</span>
          </div>
        </div>
        <!-- Col -->

        <div class="text-end">
          <h2 class="text-xl md:text-xl font-semibold text-gray-800">Invoice #</h2>
          <span class="mt-1 block text-gray-500">3682303</span>

          <address class="mt-4 not-italic text-xs text-gray-500">
            Business address<br>
            city, state, IN - 000 000<br>
            TAX ID 00XXXX123X0xx<br>
          </address>
        </div>
        <!-- Col -->
      </div>
      <!-- End Grid -->

      <div class="body-content border rounded-xl mt-8 px-8">
                <!-- Grid -->
        <div class="mt-8 grid sm:grid-cols-3 gap-3">
          <div>
            <h3 class="text-sm font-semibold text-gray-800">Bill to:</h3>
            <h3 class="text-sm font-bold text-gray-800">Company Name</h3>
            <address class="mt-2 text-sm not-italic text-gray-500">
              280 Suzanne Throughway,<br>
              Breannabury, OR 45801,<br>
              United States<br>
            </address>
          </div>
          <!-- Col -->

          <div class="sm:text-end space-y-2">
            <!-- Grid -->
            <div class="grid grid-cols-1 place-items-center sm:grid-cols-1 gap-3 sm:gap-2">
              <div class="flex flex-col gap-6">
                <div class="flex flex-col gap-1  ">
                  <span class="text-sm text-start text-gray-500">Invoice number</span>
                  <span *ngIf="!pageLoading" class="text-sm font-bold text-start text-gray-800">{{invoiceDetail?.invoice_number}}</span>
                  <span *ngIf="pageLoading" class="text-sm font-bold text-start text-gray-800">
                    <i class="pi pi-spin pi-spinner" style="font-size: 1rem"></i>
                  </span>
                </div>
                <dl class="flex flex-col gap-1">
                  <dt class="text-sm col-span-3 text-start text-gray-500">Refernce</dt>
                  <dd  *ngIf="!pageLoading" class="text-sm col-span-2 font-bold text-start text-gray-800">{{invoiceDetail?.reference_number}}</dd>
                  <span *ngIf="pageLoading" class="text-sm font-bold text-start text-gray-800">
                    <i class="pi pi-spin pi-spinner" style="font-size: 1rem"></i>
                  </span>
                </dl>
                <dl class="flex flex-col gap-1 ">
                  <dt class="text-sm col-span-3 text-start text-gray-500">Date</dt>
                  <dd *ngIf="!pageLoading" class="text-sm col-span-2 font-bold text-start text-gray-800">{{invoiceDetail?.order_date}}</dd>
                  <span *ngIf="pageLoading" class="text-sm font-bold text-start text-gray-800">
                    <i class="pi pi-spin pi-spinner" style="font-size: 1rem"></i>
                  </span>
                </dl>
              </div>
            </div>
            <!-- End Grid -->
          </div>

          <div class="sm:text-end space-y-2">
            <!-- Grid -->
            <div class="grid grid-cols-1 place-items-center sm:grid-cols-1 gap-3 sm:gap-2">
              <div class="flex flex-col gap-6">
                <div class="flex flex-col gap-1  ">
                  <span class="text-sm text-start text-gray-500">Invoice of (NGN)</span>
                  <span *ngIf="!pageLoading" class="text-2xl font-bold text-start text-primary"> ₦ {{invoiceDetail?.total | number:'1.0-2'}}</span>
                  <span *ngIf="pageLoading" class="text-sm font-bold text-start text-gray-800">
                    <i class="pi pi-spin pi-spinner" style="font-size: 1rem"></i>
                  </span>
                </div>
                <!-- <dl class="h-full">

                </dl> -->
                <dl class="flex flex-col gap-1 ">
                  <dt class="text-sm col-span-3 text-start text-gray-500">Delivery date</dt>
                  <dd *ngIf="!pageLoading" class="text-sm col-span-2 font-bold text-start text-gray-800">{{invoiceDetail?.delivery_date}}</dd>
                  <span *ngIf="pageLoading" class="text-sm font-bold text-start text-gray-800">
                    <i class="pi pi-spin pi-spinner" style="font-size: 1rem"></i>
                  </span>
                </dl>
              </div>
            </div>
            <!-- End Grid -->
          </div>

          <!-- Col -->
        </div>
        <!-- End Grid -->

        <!-- Table -->
        <div class="mt-8">
          <div class="border text-sm border-gray-200 p-4 rounded-lg space-y-4">
            <div class="hidden sm:grid sm:grid-cols-5">
              <div class="sm:col-span-2 text-xs font-medium text-gray-500 uppercase">Item</div>
              <div class="text-start text-xs font-medium text-gray-500 uppercase">Qty</div>
              <div class="text-start text-xs font-medium text-gray-500 uppercase">Rate</div>
              <div class="text-end text-xs font-medium text-gray-500 uppercase">Amount</div>
            </div>

            <div class="hidden sm:block border-b border-gray-200"></div>
            <ng-container *ngFor="let item of invoiceDetail?.items">
              <div class="grid grid-cols-3 sm:grid-cols-5 gap-2">
                <div class="col-span-full sm:col-span-2">
                  <h5 class="sm:hidden text-xs font-medium text-gray-500 uppercase">Item</h5>
                  <p *ngIf="!pageLoading" class="font-medium text-gray-800">{{item.item_name}}</p>
                  <span *ngIf="pageLoading" class="text-sm font-bold text-start text-gray-800">
                    <i class="pi pi-spin pi-spinner" style="font-size: 1rem"></i>
                  </span>
                </div>
                <div>
                  <h5 class="sm:hidden text-xs font-medium text-gray-500 uppercase">Qty</h5>
                  <p *ngIf="!pageLoading" class="text-gray-800">{{item.quantity}}</p>
                  <span *ngIf="pageLoading" class="text-sm font-bold text-start text-gray-800">
                    <i class="pi pi-spin pi-spinner" style="font-size: 1rem"></i>
                  </span>
                </div>
                <div>
                  <h5 class="sm:hidden text-xs font-medium text-gray-500 uppercase">Rate</h5>
                  <p *ngIf="!pageLoading" class="text-gray-800">{{item.price | number:'1.0-2'}}</p>
                  <span *ngIf="pageLoading" class="text-sm font-bold text-start text-gray-800">
                    <i class="pi pi-spin pi-spinner" style="font-size: 1rem"></i>
                  </span>
                </div>
                <div>
                  <h5 class="sm:hidden text-xs font-medium text-gray-500 uppercase">Amount</h5>
                  <p *ngIf="!pageLoading" class="sm:text-end text-gray-800"> ₦{{item.amount | number:'1.0-2'}}</p>
                  <span *ngIf="pageLoading" class="text-sm font-bold text-start text-gray-800">
                    <i class="pi pi-spin pi-spinner" style="font-size: 1rem"></i>
                  </span>
                </div>
              </div>
            </ng-container>

            <div class="sm:hidden border-b border-gray-200"></div>

          </div>
        </div>
        <!-- End Table -->

        <!-- Flex -->
        <div class="mt-8 flex sm:justify-end">
          <div class="w-full max-w-2xl sm:text-end space-y-2">
            <!-- Grid -->
            <div class="grid text-sm grid-cols-2 sm:grid-cols-1 gap-3 sm:gap-2">
              <dl class="grid sm:grid-cols-5 gap-x-3">
                <dt class="col-span-3 font-semibold text-gray-800">Subtotal:</dt>
                <dd *ngIf="!pageLoading" class="col-span-2 text-gray-500"> ₦{{invoiceDetail?.total | number:'1.0-2'}}</dd>
                <span *ngIf="pageLoading" class="text-sm font-bold text-start text-gray-800">
                  <i class="pi pi-spin pi-spinner" style="font-size: 1rem"></i>
                </span>
              </dl>

              <dl class="grid sm:grid-cols-5 gap-x-3">
                <dt class="col-span-3 font-semibold text-gray-800">Total:</dt>
                <dd *ngIf="!pageLoading" class="col-span-2 text-gray-500"> ₦{{invoiceDetail?.total | number:'1.0-2'}}</dd>
                <span *ngIf="pageLoading" class="text-sm font-bold text-start text-gray-800">
                  <i class="pi pi-spin pi-spinner" style="font-size: 1rem"></i>
                </span>
              </dl>

              <dl class="grid sm:grid-cols-5 gap-x-3">
                <dt class="col-span-3 font-semibold text-gray-800">Tax:</dt>
                <dd *ngIf="!pageLoading" class="col-span-2 text-gray-500"> ₦00.00</dd>

              </dl>

              <dl class="grid sm:grid-cols-5 gap-x-3">
                <dt class="col-span-3 font-semibold text-gray-800">Amount paid:</dt>
                <dd *ngIf="!pageLoading" class="col-span-2 text-gray-500"> ₦{{invoiceDetail?.total | number:'1.0-2'}}</dd>
                <span *ngIf="pageLoading" class="text-sm font-bold text-start text-gray-800">
                  <i class="pi pi-spin pi-spinner" style="font-size: 1rem"></i>
                </span>
              </dl>

              <dl class="grid sm:grid-cols-5 gap-x-3">
                <dt class="col-span-3 font-semibold text-gray-800">Due balance:</dt>
                <dd class="col-span-2 text-gray-500"> ₦0.00</dd>

              </dl>
            </div>
            <!-- End Grid -->
          </div>
        </div>
        <!-- End Flex -->

        <div class="my-8 sm:mt-12">
          <h4 class="text-sm font-semibold text-gray-800">Thanks for the business.</h4>

        </div>
        </div>

      <p class="mt-5 text-sm text-gray-500">Please pay within 15 days of recieving this invoice.</p>
    </div>
    <!-- End Card -->
  </div>
</div>
<!-- End Invoice -->
