
<p-toast/>

<div class="section w-full">
  <app-sub-header
    pageTitle="dashboard"
    action1Name="Export"
    icon='assets/icons/export.svg'
    buttonStyle="active:scale-95 bg-primary text-sm text-white p-2 hover:gray-400" ></app-sub-header>



 <!-- metrics cards -->
  <div class="cards-section w-full grid grid-cols-1 lg:grid-cols-4 gap-4 md:grid-cols-2  mt-8">
    <div class="card bg-white h-[120px]  flex items-center rounded-md shadow-sm p-4 w-full">
      <div class="flex gap-4 justify-center items-center">
        <img src="/assets/icons/income.png" class="object-cover" alt="">
        <div class="details flex flex-col">
          <span class=" text-gray-400">Total income</span>
          <span class=" text-xl">₦2,360,000</span>
        </div>
      </div>
    </div>

    <div class="card bg-white h-[120px]  flex items-center rounded-md shadow-sm p-4 w-full">
      <div class="flex gap-4 justify-center items-center">
        <img src="/assets/icons/expense.png" class="object-cover" alt="">
        <div class="details flex flex-col">
          <span class="text-sm text-gray-400">Total Expenses</span>
          <span class=" text-xl">₦1,360,000</span>
        </div>
      </div>
    </div>

    <div class="card bg-white h-[120px]  flex items-center rounded-md shadow-sm p-4 w-full">
      <div class="flex gap-4 justify-center items-center">
        <img src="/assets/icons/employees.png" class="object-cover" alt="">
        <div class="details flex flex-col">
          <span class="text-sm text-gray-400">Employees</span>
          <span class=" text-xl">38</span>
        </div>
      </div>
    </div>

    <div class="card bg-white h-[120px]  flex items-center rounded-md shadow-sm p-4 w-full">
      <div class="flex gap-4 justify-center items-center">
        <img src="/assets/icons/suppliers.png" class="object-cover" alt="">
        <div class="details flex flex-col">
          <span class="text-sm text-gray-400">Number of suppliers</span>
          <span class=" text-xl">42</span>
        </div>
      </div>
    </div>

  </div>


  <!-- graph section -->

  <div class="graph-section flex w-full  gap-8  mt-8">
    <div class="graph bg-white shadow-sm rounded-md p-4 basis-[70%]">
      <div class="graph-heading flex justify-between basis-1/2">
        <div class="title flex items-center capitalize gap-2 text-lg">
          Cash Flow
          <span>
          <img src="/assets/icons/question.png" class="object-fill" alt="">

          </span>
        </div>

        <div class="hs-dropdown [--strategy:absolute] [--flip:false] hs-dropdown-example relative inline-flex">
          <button (click)="toggleCalender()" id="hs-dropdown-example" type="button" class="py-3 px-4 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-gray-200 bg-white text-gray-800 shadow-sm hover:bg-gray-50 focus:outline-none focus:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none" aria-haspopup="menu" aria-expanded="false" aria-label="Dropdown">
            This year
            <svg class="hs-dropdown-open:rotate-180 size-4 text-gray-600" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
              <path d="m6 9 6 6 6-6"></path>
            </svg>
          </button>

          <div *ngIf="calender" class=" transition-[opacity,margin] duration w-32 absolute top-[48px]  z-10 mt-2 min-w-32 bg-white shadow-md rounded-lg p-2" role="menu" aria-orientation="vertical" aria-labelledby="hs-dropdown-example">
            <a class="flex items-center gap-x-3.5 py-2 px-3 rounded-lg text-sm text-gray-800 hover:bg-gray-100 focus:outline-none focus:bg-gray-100" href="#">
              2023
            </a>
            <a class="flex items-center gap-x-3.5 py-2 px-3 rounded-lg text-sm text-gray-800 hover:bg-gray-100 focus:outline-none focus:bg-gray-100" href="#">
              2022
            </a>
            <a class="flex items-center gap-x-3.5 py-2 px-3 rounded-lg text-sm text-gray-800 hover:bg-gray-100 focus:outline-none focus:bg-gray-100" href="#">
              2021
            </a>
            <a class="flex items-center gap-x-3.5 py-2 px-3 rounded-lg text-sm text-gray-800 hover:bg-gray-100 focus:outline-none focus:bg-gray-100" href="#">
              2020
            </a>
          </div>
        </div>

      </div>

      <div class="graph-body basis-1/2">
        <p-chart type="line" [data]="data" [options]="options" />
      </div>
    </div>

    <div class="news-section p-4 bg-white basis-[30%]">
      <div class="title text-xl capitalize">Upcoming Events</div>

    </div>


  </div>




</div>
