
<p-toast/>

<div class="section w-full">
  <app-sub-header
    pageTitle="dashboard"
    action1Name="Export"
    icon='assets/icons/export.svg'
    buttonStyle="active:scale-95 bg-primary text-sm text-white p-2 hover:gray-400" ></app-sub-header>



 <!-- metrics cards -->
  <div class="cards-section w-full grid grid-cols-1 lg:grid-cols-4 gap-4 md:grid-cols-2  mt-8">
    <div class="card bg-white h-[120px]  flex items-center rounded-md shadow-sm p-4 w-full">
      <div class="flex gap-4 justify-center items-center">
        <img src="/assets/icons/income.png" class="object-cover" alt="">
        <div class="details flex flex-col">
          <span class=" text-gray-500">Total income</span>
          <span *ngIf="!loading" class=" text-xl  text-gray-800">₦{{metrics?.data.total_income | number:'1.0-2'}}</span>
          <span *ngIf="loading" class=" text-xl  text-gray-800">
            <i class="pi pi-spin pi-spinner" style="font-size: 1.25rem"></i>
          </span>
        </div>
      </div>
    </div>

    <div class="card bg-white h-[120px]  flex items-center rounded-md shadow-sm p-4 w-full">
      <div class="flex gap-4 justify-center items-center">
        <img src="/assets/icons/expense.png" class="object-cover" alt="">
        <div class="details flex flex-col">
          <span class="text-sm text-gray-500">Total Expenses</span>
          <span *ngIf="!loading" class=" text-xl text-gray-800">₦{{metrics?.data.total_expenses | number:'1.0-2'}}</span>
          <span *ngIf="loading" class=" text-xl  text-gray-800">
            <i class="pi pi-spin pi-spinner" style="font-size: 1.25rem"></i>
          </span>
        </div>
      </div>
    </div>

    <div class="card bg-white h-[120px]  flex items-center rounded-md shadow-sm p-4 w-full">
      <div class="flex gap-4 justify-center items-center">
        <img src="/assets/icons/employees.png" class="object-cover" alt="">
        <div class="details flex flex-col">
          <span  class="text-sm text-gray-500">Employees</span>
          <span *ngIf="!loading" class=" text-xl text-gray-800">{{metrics?.data.total_employees | number:'1.0-2'}}</span>
          <span *ngIf="loading" class=" text-xl  text-gray-800">
            <i class="pi pi-spin pi-spinner" style="font-size: 1.25rem"></i>
          </span>
        </div>
      </div>
    </div>

    <div class="card bg-white h-[120px]  flex items-center rounded-md shadow-sm p-4 w-full">
      <div class="flex gap-4 justify-center items-center">
        <img src="/assets/icons/suppliers.png" class="object-cover" alt="">
        <div class="details flex flex-col">
          <span class="text-sm text-gray-500">Number of suppliers</span>
          <span *ngIf="!loading" class=" text-xl text-gray-800">{{metrics?.data.total_vendors | number:'1.0-2'}}</span>
          <span *ngIf="loading" class=" text-xl  text-gray-800">
            <i class="pi pi-spin pi-spinner" style="font-size: 1.25rem"></i>
          </span>
        </div>
      </div>
    </div>

  </div>

  <!-- graph section -->
  <!-- <div class="graph-section flex w-full  gap-8  mt-8">
    <div class="graph bg-white shadow-sm rounded-md p-4 basis-[65%]">
      <div class="graph-heading flex justify-between basis-1/2">
        <div class="title flex items-center capitalize gap-2 text-lg text-gray-800">
          Cash Flow
          <span>
          <img src="/assets/icons/question.png" class="object-fill" alt="">

          </span>
        </div>

        <div class="hs-dropdown [--strategy:absolute] [--flip:false] hs-dropdown-example relative inline-flex">
          <button (click)="toggleCalender()" id="hs-dropdown-example" type="button" class="py-3 px-4 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-gray-200 bg-white text-gray-800 shadow-sm hover:bg-gray-50 focus:outline-none focus:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none" aria-haspopup="menu" aria-expanded="false" aria-label="Dropdown">
            This year
            <svg class="hs-dropdown-open:rotate-180 size-4 text-gray-600" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
              <path d="m6 9 6 6 6-6"></path>
            </svg>
          </button>

          <div *ngIf="calender" class=" transition-[opacity,margin] duration w-32 absolute top-[48px]  z-10 mt-2 min-w-32 bg-white shadow-md rounded-lg p-2" role="menu" aria-orientation="vertical" aria-labelledby="hs-dropdown-example">
            <a class="flex items-center gap-x-3.5 py-2 px-3 rounded-lg text-sm text-gray-800 hover:bg-gray-100 focus:outline-none focus:bg-gray-100" href="#">
              2023
            </a>
            <a class="flex items-center gap-x-3.5 py-2 px-3 rounded-lg text-sm text-gray-800 hover:bg-gray-100 focus:outline-none focus:bg-gray-100" href="#">
              2022
            </a>
            <a class="flex items-center gap-x-3.5 py-2 px-3 rounded-lg text-sm text-gray-800 hover:bg-gray-100 focus:outline-none focus:bg-gray-100" href="#">
              2021
            </a>
            <a class="flex items-center gap-x-3.5 py-2 px-3 rounded-lg text-sm text-gray-800 hover:bg-gray-100 focus:outline-none focus:bg-gray-100" href="#">
              2020
            </a>
          </div>
        </div>

      </div>

      <div class="graph-body basis-1/2">
        <p-chart type="line" [data]="data" [options]="options" />
      </div>
    </div>

    <div class="event-section p-4  bg-white basis-[35%]">
      <div class="title text-lg capitalize text-gray-800">Upcoming Events</div>

      <div class="flex flex-col gap-4">
        <div class="event mt-4 flex gap-2">
          <div class="date flex flex-col items-center ">
            <span class="text-gray-500">NOV</span>
            <span class="text-gray-800 text-xl">15</span>
          </div>
          <div class="divider h-full border border-dashed border-red-300 min-h-[130px]"></div>
          <div class="info flex flex-col gap-1">
            <span class="title text-gray-800">Mr&Mrs Augustine Wedding</span>
            <span class="order text-gray-500 text-sm">
              Supply an exquisite spread is planned featuring tender chicken dishes, a generous serving of rice, and a variety of
            </span>
            <span class="text-gray-800 text-sm">25 April at 09:30 am</span>
          </div>
          <div class="view-icon h-full min-h-[130px] flex items-center justify-center">
            <div class="h-auto ">
              <div class=" rounded-full h-9 w-9 bg-accent flex justify-center items-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8"/>
                </svg>
              </div>
            </div>
          </div>
        </div>

        <div class="event mt-4 flex gap-2">
          <div class="date flex flex-col items-center ">
            <span class="text-gray-500">NOV</span>
            <span class="text-gray-800 text-xl">15</span>
          </div>
          <div class="divider h-full border border-dashed border-red-300 min-h-[130px]"></div>
          <div class="info flex flex-col gap-1">
            <span class="title text-gray-800">Mr&Mrs Augustine Wedding</span>
            <span class="order text-gray-500 text-sm">
              Supply an exquisite spread is planned featuring tender chicken dishes, a generous serving of rice, and a variety of
            </span>
            <span class="text-gray-800 text-sm">25 April at 09:30 am</span>
          </div>
          <div class="view-icon h-full min-h-[130px] flex items-center justify-center">
            <div class="h-auto ">
              <div class=" rounded-full h-9 w-9 bg-accent flex justify-center items-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8"/>
                </svg>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="text-primary flex gap-2 w-full justify-center items-center mt-8 cursor-pointer active:scale-95">
        See All
        <span>
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708"/>
          </svg>
        </span>
      </div>

    </div>


  </div> -->


  <!-- stocks section -->
   <div class="stocke-section mt-8 w-full flex gap-8 ">
    <div class="top-selling bg-white p-4 rounded-md basis-[60%] h-[60vh]">
      <div class="heading flex justify-between items-center">
        <div class="title text-lg capitalize text-gray-800">Top Selling</div>

        <div class="text-primary flex gap-2 text-sm cursor-pointer active:scale-95">
          <!-- See All
          <span>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708"/>
            </svg>
          </span> -->
        </div>
      </div>

      <!-- table section -->
       <!-- Table -->
       <table class="w-full divide-y table-auto divide-gray-200 mt-4 overflow-y">
        <thead class="">
          <tr>
            <th scope="col" class="px-6 py-3 text-start ">
              <span class="text-xs font-semibold uppercase tracking-wide text-gray-800">
                Name
              </span>
            </th>

            <th scope="col" class="px-6 py-3 text-start">
              <span class="text-xs font-semibold uppercase tracking-wide text-gray-800">
                Sold Quantity
              </span>
            </th>

            <th scope="col" class="px-6 py-3 text-start ">
              <span class="text-xs font-semibold uppercase tracking-wide text-gray-800">
                Remaining Quantity
              </span>
            </th>

            <th scope="col" class="px-6 py-3 text-start ">
              <p class="text-xs font-semibold uppercase tracking-wide text-gray-800">
                Price
              </p>
            </th>
          </tr>
        </thead>

        <tbody class="divide-y divide-gray-200 w-full">
          <ng-container *ngFor="let stock of TopSellingProduct.data">
            <tr>
              <td class="size-px px-6 py-3">
                <p class="text-sm text-gray-500">{{stock.item_name}}</p>
              </td>
              <td class="size-px px-6 py-3">
                <div class="flex items-center gap-x-3">
                  <p class="font-semibold text-sm text-gray-500">{{stock.sold_quantity}}</p>
                </div>
              </td>
              <td class="size-px px-6 py-3">
                <p class="text-sm text-gray-500">{{stock.remaining_quantity}}</p>
              </td>
              <td class="size-px px-6 py-3">
                <p class="text-sm text-gray-500">₦{{stock.price | number:'1.0-2'}}</p>
              </td>
            </tr>
          </ng-container>
        </tbody>

      </table>

      <div *ngIf="TopSellingProduct?.length <=0 && pageLoading" class="w-full flex justify-center items-center h-[50vh]">
        <app-spinner></app-spinner>
      </div>

      <div *ngIf="TopSellingProduct?.data?.length<=0 && !pageLoading ">
        <app-empty-list></app-empty-list>
       </div>
      <!-- End Table -->

    </div>

    <div class="out-of-stock bg-white p-4 rounded-md basis-[40%] h-[60vh]">
      <div class="heading heading flex justify-between items-center">
        <div class="title text-lg capitalize text-gray-800">Low Quality Stock</div>

        <div class="text-primary flex gap-2 text-sm cursor-pointer active:scale-95">
          <!-- See All
          <span>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708"/>
            </svg>
          </span> -->
        </div>
      </div>

      <div class="flex flex-col gap-4 h-full overflow-y-auto">
        <ng-container *ngFor="let stock of lowQuantityStock.data">
          <div class="low-items flex gap-4 items-center w-full mt-4">
            <div class="image">
              <img src={{stock.media[0]}} class="w-12 h-12 object-contain" alt="">
            </div>
            <div class="detail">
              <div class="title  text-gray-600">{{stock.name}}</div>
              <div class="text-sm text-gray-500">Remaining Quantity : {{stock.remaining_quantity}}</div>
            </div>
            <div class="status px-4 py-1 bg-accent text-primary capitalize rounded-full">low</div>
          </div>
        </ng-container>

        <div *ngIf="TopSellingProduct?.length <=0 && pageLoading" class="w-full flex justify-center items-center h-[50vh]">
          <app-spinner></app-spinner>
        </div>

        <div *ngIf="TopSellingProduct?.data?.length<=0 && !pageLoading ">
          <app-empty-list></app-empty-list>
         </div>


      </div>
    </div>
   </div>




</div>
