
<p-toast/>

<div class="section ">
  <app-sub-header
    pageTitle="dashboard"
    action1Name="Export"
    icon='assets/icons/export.svg'
    buttonStyle="active:scale-95 bg-primary text-sm text-white p-2 hover:gray-400" ></app-sub-header>



 <!-- metrics cards -->
  <div class="cards-section w-full grid grid-cols-1 lg:grid-cols-4 gap-4 md:grid-cols-2  mt-8">
    <div class="card bg-white h-[120px]  flex items-center rounded-md shadow-sm p-4 w-full">
      <div class="flex gap-4 justify-center items-center">
        <img src="/assets/icons/income.png" class="object-cover" alt="">
        <div class="details flex flex-col">
          <span class=" text-gray-400">Total income</span>
          <span class=" text-xl">₦2,360,000</span>
        </div>
      </div>
    </div>

    <div class="card bg-white h-[120px]  flex items-center rounded-md shadow-sm p-4 w-full">
      <div class="flex gap-4 justify-center items-center">
        <img src="/assets/icons/expense.png" class="object-cover" alt="">
        <div class="details flex flex-col">
          <span class="text-sm text-gray-400">Total Expenses</span>
          <span class=" text-xl">₦1,360,000</span>
        </div>
      </div>
    </div>

    <div class="card bg-white h-[120px]  flex items-center rounded-md shadow-sm p-4 w-full">
      <div class="flex gap-4 justify-center items-center">
        <img src="/assets/icons/employees.png" class="object-cover" alt="">
        <div class="details flex flex-col">
          <span class="text-sm text-gray-400">Employees</span>
          <span class=" text-xl">38</span>
        </div>
      </div>
    </div>

    <div class="card bg-white h-[120px]  flex items-center rounded-md shadow-sm p-4 w-full">
      <div class="flex gap-4 justify-center items-center">
        <img src="/assets/icons/suppliers.png" class="object-cover" alt="">
        <div class="details flex flex-col">
          <span class="text-sm text-gray-400">Number of suppliers</span>
          <span class=" text-xl">42</span>
        </div>
      </div>
    </div>

  </div>





</div>
