<div class="heading w-full bg-white py-4 px-4 shadow-sm ">
    <h3 id="hs-bg-gray-on-hover-cards-label" class="font-bold text-xl text-gray-800">
        New Purchase Order
      </h3>
</div>


<form [formGroup]="purchaseOrderForm" (ngSubmit)="savePurchase()" class="">
    <div>
        <div class="flex items-center w-full max-w-[550px]">
            <label for="vendor" class="w-full text-sm text-primary max-w-[400px]">Vendor*</label>
            <div class="w-full flex  gap-2  rounded-large mt-6">
              <div class="w-full flex  gap-2  rounded-large mt-6">
                <select formControlName="vendor_id" [ngClass]="{'border-red-400': isSubmitted && f.vendor_id.errors}" class="w-full min-w-[300px] px-4 text-sm border py-2  bg-gray-200 outline-none" name="" id="">
                    <option value="">Select Vendor</option>

                    <ng-container *ngFor="let vendor of vendors?.data">
                      <option value={{vendor.id}} >{{vendor.name}}</option>
                    </ng-container>
                </select>
            </div>
            </div>
        </div>

        <div class="flex items-center w-full max-w-[550px]">
            <label for="vendor" class="w-full  text-sm max-w-[400px]">Branch</label>
            <div class="w-full flex  gap-2  rounded-large mt-6">
                <select formControlName="branch_id" [ngClass]="{'border-red-400': isSubmitted && f.branch_id.errors}" class="w-full min-w-[300px] px-4 text-sm border py-2  bg-gray-200 outline-none" name="" id="">
                    <option formControlName="branch_id" value="">Select branch</option>

                    <ng-container *ngFor="let branch of branches?.data">
                      <option value={{branch.id}} >{{branch.name}}</option>
                    </ng-container>
                </select>
            </div>
        </div>
    </div>

    <div class="divider w-full my-6 border-b"></div>

    <div>

        <div class="flex items-start w-full max-w-[550px]">
            <label for="vendor" class="w-full text-sm max-w-[400px]">Expected Delivery Date</label>
            <div class="w-full flex flex-col rounded-large">
                <label class="text-sm font-medium" for="startDate">Starting Date</label>
                <div class="flex flex-col gap-4">
                    <input formControlName="delivery_date" [ngClass]="{'border-red-400': isSubmitted && f.delivery_date.errors}" id="startDate" type="date" class="w-full min-w-[300px] px-4 text-sm border py-2  bg-gray-200 outline-none" name="" id="" placeholder="Starting date">

                    <div>
                        <label class="text-sm font-medium" for="startDate">Payment Terms</label>

                        <select formControlName="payment_term_id" [ngClass]="{'border-red-400': isSubmitted && f.payment_term_id.errors}" class="w-full min-w-[300px] px-4 text-sm border py-2  bg-gray-200 outline-none" name="" id="">
                            <option value="">Due on reciept</option>

                            <ng-container *ngFor="let payment of paymentTerms?.data">
                              <option value={{payment.id}} >{{payment.name}}</option>
                            </ng-container>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="divider w-full my-6 border-b"></div>

    <div>
        <div class="flex w-full max-w-[550px]">
            <label for="vendor" class="w-full text-sm max-w-[400px]">
                <div class="w-full flex items-center gap-4 ">
                    Subject
                    <span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation-circle" viewBox="0 0 16 16">
                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                            <path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0M7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0z"/>
                        </svg>
                    </span>
                </div>
            </label>
            <textarea formControlName="subject" [ngClass]="{'border-red-400': isSubmitted && f.subject.errors}" id="hs-about-contacts-1" name="hs-about-contacts-1" rows="4" class="py-3 px-4 block w-full min-w-[300px] bg-gray-100 border border-gray-200 rounded-lg text-sm focus:border-primary focus:ring-primary disabled:opacity-50 disabled:pointer-events-none"></textarea>
        </div>
    </div>

    <div class="divider w-full my-6 border-b"></div>

    <div>
        <div class="title py-3 w-full bg-gray-200 font-medium px-4">Item Table</div>
        <div class="form-table">

            <table class="table-auto w-full">
              <thead>
                <tr class="uppercase border-b">
                  <th class="py-4 text-sm border-r">Item Details</th>
                  <th class="py-4 text-sm border-r">Quantity</th>
                  <th class="py-4 text-sm border-r">Price</th>
                  <th class="py-4 text-sm border-r">Tax</th>
                  <th class="py-4 text-sm border-r">Amount</th>
                  <th class="py-4 text-sm border-r"></th>
                </tr>
              </thead>
              <tbody formArrayName="items">
                <tr class="" *ngFor="let item of items.controls; let i = index" [formGroupName]="i">
                  <td class="py-2">
                    <select formControlName="item_id" class="py-2 px-4 block w-full  bg-gray-100 border border-gray-200 rounded-lg text-sm focus:border-primary focus:ring-primary">
                      <option value="">Select Item</option>
                      <ng-container *ngFor="let item of iventoryItems?.data">
                        <option [value]="item.id">{{ item.name }}</option>
                      </ng-container>
                    </select>
                  </td>
                  <td>
                    <input type="number" formControlName="quantity" (input)="calculateRowAmount(i)" class="py-2 px-4 block w-full  bg-gray-100 border border-gray-200 rounded-lg text-sm focus:border-primary focus:ring-primary" placeholder="Quantity"  />
                  </td>
                  <td>
                    <input type="number" formControlName="price" class="py-2 px-4 block w-full  bg-gray-100 border border-gray-200 rounded-lg text-sm focus:border-primary focus:ring-primary" (input)="calculateRowAmount(i)" placeholder="Price" />
                  </td>
                  <td>
                    <select formControlName="tax_id" class="py-2 px-4 block w-full  bg-gray-100 border border-gray-200 rounded-lg text-sm focus:border-primary focus:ring-primary">
                      <option value="">Select Tax</option>
                      <!-- Add tax options -->
                    </select>
                  </td>
                  <td>
                    <input type="text"  formControlName="amount" class="py-2 px-4 block w-full  bg-gray-100 border border-gray-200 rounded-lg text-sm focus:border-primary focus:ring-primary" />
                  </td>
                  <td>
                    <button class="px-4 py-2 " type="button" (click)="removeRow(i)">
                      <div class="hover:bg-primary/45 h-8 w-8 border rounded-full flex justify-center items-center">
                        <span class="text-primary ">
                          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
                            <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708"/>
                          </svg>
                        </span>
                      </div>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>


        </div>
    </div>


    <div class="flex w-full h-full gap-16 mt-12">
        <div class="basis-1/2 flex flex-col px-6 pt-6">
            <div>
                <button (click)="addRow()" class="px-4 py-3 bg-primary text-white flex gap-2 items-center rounded-md">
                    Add new Row
                    <span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2"/>
                          </svg>
                    </span>
                </button>
            </div>

            <div class="h-full"></div>

            <div class="flex flex-col gap-1 ">
                <label for="" class="text-sm text-gray-500">Vendor Notes</label>
                <textarea formControlName="notes" [ngClass]="{'border-red-400': isSubmitted && f.notes.errors}" id="hs-about-contacts-1" name="hs-about-contacts-1" rows="4" class="py-3 bg-white px-4 block w-full min-w-[300px]  border border-gray-200 rounded-lg text-sm focus:border-primary focus:ring-primary disabled:opacity-50 disabled:pointer-events-none"></textarea>
            </div>
        </div>

        <div class="basis-1/2 bg-white px-6 py-8 rounded-md">
            <div class=" flex justify-between">
                <span class="basis-[50%] text-gray-500 text-sm font-bold">Sub Total</span>
                <span class="basis-[50%] text-gray-500 text-sm font-bold flex justify-end">{{ purchaseOrderForm.get('total')?.value }}</span>
            </div>

            <div class="mt-12 flex justify-between">
                <div class="basis-[33%] text-sm text-gray-500">
                <span>Discount</span>
                </div>
                <div class="basis-[33%] text-sm text-gray-500">
                <input formControlName="discount" [ngClass]="{'border-red-400': isSubmitted && f.discount.errors}" type="text" class="border-2 py-1 px-2 rounded-md">
                </div>
                <div class="basis-[33%] text-sm text-gray-500 flex justify-end">
                <span>0.00</span>
                </div>
            </div>

            <div class="mt-12 flex justify-between">
                <div class="basis-[33%] text-sm text-gray-500">
                <span>Delivery charges</span>
                </div>
                <div class="basis-[33%] text-sm text-gray-500">
                <input formControlName="shipping_charge" [ngClass]="{'border-red-400': isSubmitted && f.shipping_charge.errors}" type="text" class="border-2 py-1 px-2 rounded-md">
                </div>
                <div class="basis-[33%] text-sm text-gray-500 flex justify-end">
                <span>0.00</span>
                </div>
            </div>

            <div class="mt-12 flex justify-between">
                <div class="basis-[33%] text-sm text-gray-500">
                <span>VAT</span>
                </div>
                <div class="basis-[33%] text-sm text-gray-500">
                <input formControlName="vat" [ngClass]="{'border-red-400': isSubmitted && f.vat.errors}" type="text" class="border-2 py-1 px-2 rounded-md">
                </div>
                <div class="basis-[33%] text-sm text-gray-500 flex justify-end">
                <span>0.00</span>
                </div>
            </div>

            <div class="divider w-full my-6 border-b"></div>


            <div class="mt-8 flex justify-between ">
                <span class="basis-[50%] text-gray-500 text-sm  font-bold">Total Amount(NGN)</span>
                <span class="basis-[50%] text-gray-500 text-sm font-bold flex justify-end">1,250,000.00</span>
            </div>

        </div>
    </div>

    <div class="pl-6 mt-8 ">
      <label for="" class="text-sm text-gray-500">Terms & Conditions</label>
      <textarea formControlName="terms_and_conditions" [ngClass]="{'border-red-400': isSubmitted && f.terms_and_conditions.errors}" id="hs-about-contacts-1"  rows="4" class="py-3 bg-white px-4 block w-full min-w-[300px]  border  rounded-lg text-sm"></textarea>
  </div>

</form>


<div class="bg-white px-6 py-6 mt-8 flex gap-4">
    <button class="px-4 py-2 border active:bg-primary/85 rounded-md text-gray-500 hover:bg-primary hover:text-white ">Cancel</button>
    <button (click)="savePurchase()" class="px-4 py-2 border active:bg-primary/85 rounded-md hover:bg-secondary  bg-primary text-white">Continue</button>
    <button class="px-4 py-2 border active:bg-primary/85 rounded-md text-gray-500 hover:bg-primary hover:text-white ">Save as draft</button>
</div>
