<div class="section relative">
  <app-sub-header
    pageTitle="All Items"
    action1Name="Add new item"
    icon='assets/icons/add.png'
    buttonStyle="active:scale-95 bg-primary text-sm text-white p-2 hover:gray-400" (action1)="route('app/prochurement/create-new-item')"></app-sub-header>







  <!-- Table Section -->
<div class=" mt-12">
  <app-tab-menu [navigation]="tabMenu"></app-tab-menu>

  <app-table [tableHeader]="tableHeader" [tableData]="inventoryData"></app-table>
</div>
<!-- End Table Section -->

</div>



