
<div (click)="goBack()" class="mb-2 px-2 cursor-pointer hover:text-primary hover:bg-primary/45 py-2 rounded-md text-sm max-w-[100px] flex items-center gap-2">
  <span>
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-left" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0"/>
    </svg>
  </span>
  <span class="text-gray-500 hover:text-primary font-normal">Back</span>
</div>

<div class="heading w-full bg-white py-4 px-4 shadow-sm ">
  <h3 id="hs-bg-gray-on-hover-cards-label" class="font-bold text-xl text-gray-800">
      Record Procurement
    </h3>
</div>

<p-toast/>

<form [formGroup]="createExpenseForm" (ngSubmit)="saveExpense()" class="">

  <!-- <div class="basic-info text-lg font-bold text-gray-800 mt-6">Basic Information</div>
  <div>
      <div class="flex items-center w-full max-w-[550px]">
          <label for="vendor" class="w-full text-sm text-primary max-w-[400px]">Customer Name*</label>
          <div class="w-full flex  gap-2  rounded-large mt-6">
              <select formControlName="" class="w-full min-w-[300px] text-sm  px-4 border py-2 bg-gray-100 outline-none" name="" id="">
                  <option value="">Vendor name</option>
                  <ng-container *ngFor="let item of vendors?.data">
                    <option [value]="item.id">{{ item.name }}</option>
                  </ng-container>
              </select>
          </div>
      </div>

  </div> -->

  <div class="divider w-full my-6 border-b"></div>

  <div class="w-ful max-w-[700px] grid grid-cols-1 lg:grid-cols-2 gap-4">
    <div class="">
      <label for="expense-title"  class="text-sm text-gray-800">Expense Title</label>
      <input formControlName="expense_title" [ngClass]="{'border-red-400': isSubmitted && f.expense_title.errors}" type="text" class="px-4 py-2 w-full bg-gray-100 border rounded-md text-sm" placeholder="eg.'Transportation cost'">
    </div>

    <div class="">
      <label for="expense-title" class="text-sm text-gray-800">Expense Date</label>
      <input formControlName="date_of_expense" [ngClass]="{'border-red-400': isSubmitted && f.date_of_expense.errors}" type="Date" class="px-4 py-2 w-full bg-gray-100 border rounded-md text-sm" placeholder="eg.'DDD/MM/YYYY'">
    </div>

    <div>
      <label for="expense-title" class="text-sm text-gray-800">Expense Category</label>
        <select formControlName="expense_category" [ngClass]="{'border-red-400': isSubmitted && f.expense_category.errors}" class="w-full min-w-[300px] text-sm  px-4 border py-2 bg-gray-100 outline-none" name="" id="">
          <option value="">Select Category</option>
          <ng-container *ngFor="let item of expenseCategory?.data">
            <option [value]="item.id">{{ item.name }}</option>
          </ng-container>
      </select>
    </div>

    <div>
      <label for="expense-title" class="text-sm text-gray-800">Department</label>
        <select formControlName="department_id" [ngClass]="{'border-red-400': isSubmitted && f.department_id.errors}" class="w-full min-w-[300px] text-sm  px-4 border py-2 bg-gray-100 outline-none" name="" id="">
          <option value="">Select Department</option>
          <ng-container *ngFor="let item of departments?.data">
            <option [value]="item.id">{{ item.name }}</option>
          </ng-container>
      </select>
    </div>

  </div>

  <div class="mt-4">
      <div class="w-full max-w-[700px]">
          <label for="vendor" class="w-full text-sm ">
            Description
          </label>
          <textarea formControlName="notes" [ngClass]="{'border-red-400': isSubmitted && f.notes.errors}" id="hs-about-contacts-1" name="hs-about-contacts-1" rows="4" class="py-3 px-4 block w-full min-w-[300px] bg-gray-100 border border-gray-200 rounded-lg text-sm focus:border-primary focus:ring-primary disabled:opacity-50 disabled:pointer-events-none"></textarea>
      </div>
  </div>

  <div class="divider w-full my-6 border-b"></div>

<div class="my-4">
  <div class="basic-info text-lg font-bold text-gray-800 mt-6">Payment Details</div>

  <div class="w-ful max-w-[700px] grid grid-cols-1 lg:grid-cols-2 gap-4 mb-8 mt-4">
    <div class="">
      <label for="expense-title"  class="text-sm text-gray-800">Amount Recieved</label>
      <input formControlName="amount" [ngClass]="{'border-red-400': isSubmitted && f.amount.errors}" type="number" class="px-4 py-2 w-full bg-gray-100 border rounded-md text-sm" placeholder="1000">
    </div>

    <div class="">
      <label for="expense-title" class="text-sm text-gray-800">Bank Charges</label>
      <input formControlName="bank_charges" [ngClass]="{'border-red-400': isSubmitted && f.bank_charges.errors}" type="number" class="px-4 py-2 w-full bg-gray-100 border rounded-md text-sm" placeholder="24000">
    </div>

    <div>
      <label for="expense-title" class="text-sm text-gray-800">Payment method</label>
        <select formControlName="payment_method_id" [ngClass]="{'border-red-400': isSubmitted && f.payment_method_id.errors}" class="w-full min-w-[300px] text-sm  px-4 border py-2 bg-gray-100 outline-none" name="" id="">
          <option value="">Select method</option>
          <ng-container *ngFor="let item of paymentMethod?.data">
            <option [value]="item.id">{{ item.name }}</option>
          </ng-container>
      </select>
    </div>

  </div>

</div>

<!-- <div>
  <div class="title py-3 w-full bg-gray-200 font-medium px-4">Item Table</div>
  <div class="form-table">

      <table class="table-auto w-full">
        <thead>
          <tr class="uppercase border-b">
            <th class="py-4 text-sm border-r">Item Details</th>
            <th class="py-4 text-sm border-r">Quantity</th>
            <th class="py-4 text-sm border-r">Price</th>
            <th class="py-4 text-sm border-r">Tax</th>
            <th class="py-4 text-sm border-r">Amount</th>
            <th class="py-4 text-sm border-r"></th>
          </tr>
        </thead>
        <tbody formArrayName="items">
          <tr class="" *ngFor="let item of items.controls; let i = index" [formGroupName]="i">
            <td class="py-2">
              <select formControlName="item_id" class="py-2 px-4 block w-full  bg-gray-100 border border-gray-200 rounded-lg text-sm focus:border-primary focus:ring-primary">
                <option value="">Select Item</option>
                <ng-container *ngFor="let item of iventoryItems?.data">
                  <option [value]="item.id">{{ item.name }}</option>
                </ng-container>
              </select>
            </td>
            <td>
              <input type="number" formControlName="quantity" (input)="calculateRowAmount(i)" class="py-2 px-4 block w-full  bg-gray-100 border border-gray-200 rounded-lg text-sm focus:border-primary focus:ring-primary" placeholder="Quantity"  />
            </td>
            <td>
              <input type="number" formControlName="price" class="py-2 px-4 block w-full  bg-gray-100 border border-gray-200 rounded-lg text-sm focus:border-primary focus:ring-primary" (input)="calculateRowAmount(i)" placeholder="Price" />
            </td>
            <td>
              <select formControlName="tax_id" class="py-2 px-4 block w-full  bg-gray-100 border border-gray-200 rounded-lg text-sm focus:border-primary focus:ring-primary">
                <option value="">Select Tax</option>
                <ng-container *ngFor="let tax of taxes?.data">
                  <option [value]="tax.id">{{ tax.name }}</option>
                </ng-container>
              </select>
            </td>
            <td>
              <input type="text"  formControlName="amount" class="py-2 px-4 block w-full  bg-gray-100 border border-gray-200 rounded-lg text-sm focus:border-primary focus:ring-primary" />
            </td>
            <td>
              <button class="px-4 py-2 " type="button" (click)="removeRow(i)">
                <div class="hover:bg-primary/45 h-8 w-8 border rounded-full flex justify-center items-center">
                  <span class="text-primary ">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
                      <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708"/>
                    </svg>
                  </span>
                </div>
              </button>
            </td>
          </tr>
        </tbody>
      </table>


  </div>
</div> -->


<!-- <div class="flex w-full h-full gap-16 mt-12">
    <div class="basis-1/2 flex flex-col px-6 pt-6">
        <div>
            <button (click)="addRow()" class="px-4 py-3 bg-primary text-white flex gap-2 items-center rounded-md">
                Add new Row
                <span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2"/>
                      </svg>
                </span>
            </button>
        </div>

        <div class="h-full"></div>

        <div class="flex flex-col gap-1 ">
            <label for="" class="text-sm text-gray-500">Vendor Notes</label>
            <textarea formControlName="customer_note" [ngClass]="{'border-red-400': isSubmitted && f.customer_note.errors}" id="hs-about-contacts-1" name="hs-about-contacts-1" rows="4" class="py-3 bg-white px-4 block w-full min-w-[300px]  border border-gray-200 rounded-lg text-sm focus:border-primary focus:ring-primary disabled:opacity-50 disabled:pointer-events-none"></textarea>
        </div>
    </div>

    <div class="basis-1/2 bg-white px-6 py-8 rounded-md">
        <div class=" flex justify-between">
            <span class="basis-[50%] text-gray-500 text-sm font-bold">Sub Total</span>
            <span class="basis-[50%] text-gray-500 text-sm font-bold flex justify-end">{{ this.procurementForm.get('total').value}}</span>
        </div>

        <div class="mt-12 flex justify-between">
            <div class="basis-[33%] text-sm text-gray-500">
            <span>Discount</span>
            </div>
            <div class="basis-[33%] text-sm text-gray-500">
            <input formControlName="discount" (input)="calculateTotalToPay()" [ngClass]="{'border-red-400': isSubmitted && f.discount.errors}" type="text" class="border-2 py-1 px-2 rounded-md">
            </div>
            <div class="basis-[33%] text-sm text-gray-500 flex justify-end">
            <span>0.00</span>
            </div>
        </div>

        <div class="mt-12 flex justify-between">
            <div class="basis-[33%] text-sm text-gray-500">
            <span>Delivery charges</span>
            </div>
            <div class="basis-[33%] text-sm text-gray-500">
            <input formControlName="delivery_charge" (input)="calculateTotalToPay()" [ngClass]="{'border-red-400': isSubmitted && f.shipping_charge.errors}" type="text" class="border-2 py-1 px-2 rounded-md">
            </div>
            <div class="basis-[33%] text-sm text-gray-500 flex justify-end">
            <span>0.00</span>
            </div>
        </div>


        <div class="divider w-full my-6 border-b"></div>


        <div class="mt-8 flex justify-between ">
            <span class="basis-[50%] text-gray-500 text-sm  font-bold">Total Amount(NGN)</span>
            <span class="basis-[50%] text-gray-500 text-sm font-bold flex justify-end">{{totalToPay}}</span>
        </div>

    </div>
</div>

<div class="pl-6 mt-8 ">
  <label for="" class="text-sm text-gray-500">Additional notes</label>
  <textarea formControlName="additional_note" [ngClass]="{'border-red-400': isSubmitted && f.additional_note.errors}" id="hs-about-contacts-1"  rows="4" class="py-3 bg-white px-4 block w-full min-w-[300px]  border  rounded-lg text-sm"></textarea>
</div> -->


<div class="bg-white px-6 py-6 mt-8 flex gap-4">
  <button (click)="goBack()" class="px-4 py-2 border active:bg-primary/85 rounded-md text-gray-500 hover:bg-primary hover:text-white ">Cancel</button>
  <button class="px-4 py-2 border active:bg-primary/85 rounded-md hover:bg-secondary  bg-primary text-white">
    <span *ngIf="!loading">Create Expenses</span>
    <span class="w-full flex justify-center items-center gap-2" *ngIf="loading">
      <i class="pi pi-spin pi-spinner" style="font-size: 1rem"></i> Creating Expense
    </span>

  </button>

</div>

</form>


