
<div (click)="goBack()" class="mb-2 px-2 cursor-pointer hover:text-primary hover:bg-primary/45 py-2 rounded-md text-sm max-w-[100px] flex items-center gap-2">
  <span>
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-left" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0"/>
    </svg>
  </span>
  <span class="text-gray-500 hover:text-primary font-normal">Back</span>
</div>

<div class="section relative">
    <app-sub-header

      action1Name="Adjust Stock"
      action2Name="Edit Stock"
      icon='assets/icons/add.png'
      buttonStyle="active:scale-95 bg-primary text-sm text-white p-2 hover:gray-400"
      buttonStyle2="flex items-center text-sm py-3 px-4 rounded-lg gap-1 border border-primary bg-white text-primary shadow-sm hover:bg-primary/45"
      (action1)="adjustStockToggle()"
      (action2)="editItemToggle()"></app-sub-header>

      <p-toast/>


      <div class=" mt-12 bg-white py-4 px-4">

        <div class="title text-xl text-gray-800 font-medium">{{itemDetail?.item_name}}</div>

      <app-tab-menu [navigation]="tabMenu" (tabAction)="navigate($event)"></app-tab-menu>

    <div *ngIf="view=='overview'" class="grid grid-cols-1  lg:grid-cols-2 w-full max-w-[800px] border-t">
        <div class="div1 w-full ">
            <h6 class="text-base text-gray-700 mt-8">Primary Details</h6>
            <div class="details flex flex-col gap-8 mt-6 w-full ">
                <div class="flex justify-between max-w-[350px]">
                    <p class="text-gray-600 text-sm">Item name</p>
                    <p *ngIf="!pageLoading" class="text-gray-800 ">{{itemDetail?.item_name}}</p>
                    <p *ngIf="pageLoading" class="text-gray-800 ">
                      <i class="pi pi-spin pi-spinner" style="font-size: 1.25rem"></i>
                    </p>
                </div>
                <div class="flex justify-between max-w-[350px]">
                    <p class="text-gray-600 text-sm">Item ID</p>
                    <p *ngIf="!pageLoading" class="text-gray-800 ">{{itemDetail?.item_id}}</p>
                    <p *ngIf="pageLoading" class="text-gray-800 ">
                      <i class="pi pi-spin pi-spinner" style="font-size: 1.25rem"></i>
                    </p>
                </div>
                <div class="flex justify-between max-w-[350px]">
                    <p class="text-gray-600 text-sm">Item Category</p>
                    <p *ngIf="!pageLoading" class="text-gray-800 ">{{itemDetail?.category}}</p>
                    <p *ngIf="pageLoading" class="text-gray-800 ">
                      <i class="pi pi-spin pi-spinner" style="font-size: 1.25rem"></i>
                    </p>
                </div>
                <div class="flex justify-between max-w-[350px]">
                    <p class="text-gray-600 text-sm">Department</p>
                    <p *ngIf="!pageLoading" class="text-gray-800 ">{{itemDetail?.department}}</p>
                    <p *ngIf="pageLoading" class="text-gray-800 ">
                      <i class="pi pi-spin pi-spinner" style="font-size: 1.25rem"></i>
                    </p>
                </div>
                <div class="flex justify-between max-w-[350px]">
                    <p class="text-gray-600 text-sm">Expiery Date</p>
                    <p *ngIf="!pageLoading" class="text-gray-800 ">{{itemDetail?.expiry_date}}</p>
                    <p *ngIf="pageLoading" class="text-gray-800 ">
                      <i class="pi pi-spin pi-spinner" style="font-size: 1.25rem"></i>
                    </p>
                </div>
                <div class="flex justify-between max-w-[350px]">
                    <p class="text-gray-600 text-sm">Threshold</p>
                    <p *ngIf="!pageLoading" class="text-gray-800 ">{{itemDetail?.threshold_value}}</p>
                    <p *ngIf="pageLoading" class="text-gray-800 ">
                      <i class="pi pi-spin pi-spinner" style="font-size: 1.25rem"></i>
                    </p>
                </div>
            </div>

        </div>
        <div class="div2  flex flex-col justify-between items-center max-w-[300px]">

            <div  class="item-image w-[150px] h-100px border mt-16 border-dashed p-4">
                <img *ngIf="!pageLoading"loading="lazy" class="w-full h-full object-cover" src={{itemDetail?.media[0]}} alt="">
                <p *ngIf="pageLoading" class="text-gray-800 ">
                  <i class="pi pi-spin pi-spinner" style="font-size: 1.25rem"></i>
                </p>
            </div>


            <div class="details flex flex-col gap-8 mt-6 w-full ">
                <div class="flex justify-between max-w-[350px]">
                    <p class="text-gray-600 text-sm">Opening Stock</p>
                    <p *ngIf="!pageLoading" class="text-gray-800 ">{{itemDetail?.opening_stock}}</p>
                    <p *ngIf="pageLoading" class="text-gray-800 ">
                      <i class="pi pi-spin pi-spinner" style="font-size: 1.25rem"></i>
                    </p>
                </div>
                <div class="flex justify-between max-w-[350px]">
                    <p class="text-gray-600 text-sm">Remaining Stock</p>
                    <p *ngIf="!pageLoading"  class="text-gray-800 ">{{itemDetail?.remaining_stock}}</p>
                    <p *ngIf="pageLoading" class="text-gray-800 ">
                      <i class="pi pi-spin pi-spinner" style="font-size: 1.25rem"></i>
                    </p>
                </div>


            </div>
        </div>
    </div>

    <!-- Adjustment history section start -->

    <div *ngIf="view=='history'" class="py-8">

      <ng-container *ngFor="let history of itemAdjustmentHistory">
        <div class="flex gap-4 text-sm mb-4">
          <div class="date w-full min-w-[80px] max-w-[100px] flex flex-col justify-center">
            <span>{{history.created_at | date}}</span>
            <span>{{ history.created_at | date: 'shortTime' }}</span>
            <div *ngIf="pageLoading" class="data text-gray-800 text-base font-semibold">
              <i class="pi pi-spin pi-spinner" style="font-size: 1.25rem"></i>
            </div>
          </div>
          <div class="separator flex justify-center items-center flex-col ">
            <!-- <div class="div border-r h-10 border-primary/45  flex justify-center items-center"></div> -->
            <div class="div flex justify-center items-center text-primary/85 h-8 w-8 rounded-full bg-white border border-primary/45">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clock-history" viewBox="0 0 16 16">
                <path d="M8.515 1.019A7 7 0 0 0 8 1V0a8 8 0 0 1 .589.022zm2.004.45a7 7 0 0 0-.985-.299l.219-.976q.576.129 1.126.342zm1.37.71a7 7 0 0 0-.439-.27l.493-.87a8 8 0 0 1 .979.654l-.615.789a7 7 0 0 0-.418-.302zm1.834 1.79a7 7 0 0 0-.653-.796l.724-.69q.406.429.747.91zm.744 1.352a7 7 0 0 0-.214-.468l.893-.45a8 8 0 0 1 .45 1.088l-.95.313a7 7 0 0 0-.179-.483m.53 2.507a7 7 0 0 0-.1-1.025l.985-.17q.1.58.116 1.17zm-.131 1.538q.05-.254.081-.51l.993.123a8 8 0 0 1-.23 1.155l-.964-.267q.069-.247.12-.501m-.952 2.379q.276-.436.486-.908l.914.405q-.24.54-.555 1.038zm-.964 1.205q.183-.183.35-.378l.758.653a8 8 0 0 1-.401.432z"/>
                <path d="M8 1a7 7 0 1 0 4.95 11.95l.707.707A8.001 8.001 0 1 1 8 0z"/>
                <path d="M7.5 3a.5.5 0 0 1 .5.5v5.21l3.248 1.856a.5.5 0 0 1-.496.868l-3.5-2A.5.5 0 0 1 7 9V3.5a.5.5 0 0 1 .5-.5"/>
              </svg>
            </div>
            <!-- <div class="div border-r h-10 border-primary/45  flex justify-center items-center"></div> -->
          </div>
          <div class="h-full w-full flex flex-col justify-center">
            <div class="message  w-full max-w-[600px]  flex flex-col gap-2 justify-center border border-primary/45 bg-gray-100 px-4 py-3 rounded-lg">
              <div *ngIf="history.adjustment_type=='subtraction'">
                <span class="text-sm font-normal text-gray-800">Reduced quantity: </span>
                <span class="text-sm text-gray-500">{{history.reduced_quantity  }}</span>
              </div>
              <div *ngIf="history.adjustment_type=='addition'">
                <span class="text-sm font-normal text-gray-800">Added quantity: </span>
                <span class="text-sm text-gray-500">{{history.added_quantity}}</span>
              </div>
              <div>
                <span class="text-sm font-normal text-gray-800">Inventory Manager: </span>
                <span class="text-sm text-gray-500">{{history.manager}}</span>
              </div>
              <div *ngIf="history.adjustment_type=='subtraction'">
                <span class="text-sm font-normal text-gray-800">Collector: </span>
                <span class="text-sm text-gray-500">{{history.collector}}</span>
              </div>
              <div>
                <span class="text-sm font-normal text-gray-800">Collector Department: </span>
                <span class="text-sm text-gray-500">{{history.department}}</span>
              </div>

              <div>
                <span class="text-sm font-normal text-gray-800">Description: </span>
                <span class="text-sm text-gray-500">{{history.description}}</span>
              </div>
              <div *ngIf="pageLoading" class="data text-gray-800 text-base font-semibold">
                <i class="pi pi-spin pi-spinner" style="font-size: 1.25rem"></i>
              </div>

            </div>
          </div>
        </div>
      </ng-container>

    </div>

    <!-- Adjustment history section end -->

  </div>
  <!-- End Table Section -->

  </div>





  <p-sidebar [(visible)]="adjustStock" [style]="{'width': '600px'}" position="right">
    <div class="h-full p-6">
        <div class="page-title text-2xl text-gray-800">
            Adjust Stock - {{itemDetail?.item_name}}
        </div>

        <form [formGroup]="adjustmentForm" (ngSubmit)="saveAdjustment()" class="mt-6 flex flex-col gap-2 h-full">
            <div class="flex flex-col gap-3">
                <div for="current-quantity " class="text-gray-500 font-normal">Quantity Adjustment</div>
                <div class="py-4 border px-4 rounded-lg flex justify-between items-center">
                        <span >Current Quantity</span>
                        <span class="text-gray-900 text-lg font-bold">{{itemDetail?.remaining_stock}} <span class="text-primary text-sm font-normal">pcs</span></span>
                </div>
            </div>

            <div class="flex justify-between items-center">
                <span class="text-gray-800 font-medium">Adjustment Type *</span>
                <div class=" px-4 py-3 flex items-center gap-4">
                    <label (click)="selectAdjustmentType('addition')" class="flex items-center cursor-pointer">
                        <input type="radio" name="options" class="hidden peer" />
                        <div class="w-4 h-4 border border-gray-400 rounded-full peer-checked:bg-red-500"></div>
                        <span class="ml-2 text-sm text-gray-700">Add Item</span>
                      </label>

                      <!-- Radio Button 2 -->
                      <label (click)="selectAdjustmentType('subtraction')"  class="flex items-center cursor-pointer">
                        <input type="radio" name="options" class="hidden peer" />
                        <div class="w-4 h-4 border border-gray-400 rounded-full peer-checked:bg-red-500"></div>
                        <span class="ml-2 text-sm text-gray-700">Subtract Item</span>
                      </label>
                  </div>
            </div>

            <div class="py-4 border px-4 rounded-lg flex justify-between items-center">
                <span class="text-sm">Adjust Quantity</span>
                <input type="number" formControlName="quantity" placeholder="Input number  " class="outline-none placeholder:font-light">
            </div>

            <div *ngIf="adjustmentType=='addition'" class="w-full flex flex-col gap-2 justify-end  rounded-large mt-6">
                <label class="text-sm" for="">Select Vendor</label>
                <select formControlName="vendor_id" class="w-full px-4 border py-3 rounded-lg  outline-none" name="" id="">
                    <option value="">Select Vendor</option>
                    <ng-container *ngFor="let vendor of vendors.data">
                      <option class="text-sm" value={{vendor.id}}>{{vendor.name}}</option>
                    </ng-container>
                </select>
            </div>

            <div *ngIf="adjustmentType=='subtraction'" class="w-full flex flex-col gap-2 justify-end  rounded-large mt-6">
                <label class="text-sm" for="">Collected by</label>
                <select formControlName="collector_id" class="w-full px-4 border py-3 rounded-lg  outline-none" name="" id="">
                  <option value="">Select Collector</option>
                  <ng-container *ngFor="let user of users.data">
                    <option class="text-sm" value={{user.id}}>{{user.name}}</option>
                  </ng-container>
                </select>
            </div>

            <div>
              <label class="text-sm" for="">Department</label>
              <select [ngClass]="{'border-red-400': isSubmitted && f.department_id.errors}" formControlName="receiving_department_id" class="w-full px-4 border py-3 rounded-lg  outline-none">
                <option value="">Select Department</option>
                <!-- dynamically fetched categories -->
                <ng-container *ngFor="let department of departments?.data">
                  <option value={{department.id}} >{{department.name}}</option>
                </ng-container>
              </select>
            </div>


            <div class="w-full flex flex-col gap-2 justify-end  rounded-large mt-6">
                <label class="text-sm" for="hs-about-contacts-1" >Descriptions</label>
                <textarea formControlName="description" id="hs-about-contacts-1" name="hs-about-contacts-1" rows="4" class="py-3 px-4 block w-full border border-gray-200 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none"></textarea>
            </div>

            <div class="flex  items-center gap-2 mt-6">
                <p-button class="px-4 py-2 border text-gray-500 rounded-md" label="Cancel"></p-button>
                <button type="submit">
                    <button  class="px-4 py-2 bg-primary text-white text-sm border border-primary rounded-md">
                      <span *ngIf="!saveLoading">Save</span>
                      <span class="w-full flex justify-center" *ngIf="saveLoading">
                          <i class="pi pi-spin pi-spinner" style="font-size: 1rem"></i>
                        </span>
                    </button>
                </button>
            </div>

        </form>
    </div>
</p-sidebar>

