<div class="section relative">
  <app-sub-header
    pageTitle="Purchase Order list"
    action1Name="Export"
    icon='assets/icons/export.svg'
    buttonStyle="active:scale-95 bg-primary text-sm text-white p-2 hover:gray-400" ></app-sub-header>

     <!-- Table Section -->
      <div class=" mt-12">
        <app-tab-menu [navigation]="tabMenu"></app-tab-menu>

        <app-table [tableHeader]="tableHeader" [tableData]="purchases"></app-table>
      </div>
      <!-- End Table Section -->

</div>



