<section class="bg-gray-100">
    <!-- Metrics Section -->
    <div class="metrics flex flex-col gap-6 bg-white rounded-lg border p-4">
      <div class="title text-2xl font-bold">Today's Order</div>
      <div class="data text-sm flex flex-col sm:flex-row justify-between">
        <div class="category w-full px-4 py-2 sm:py-0 flex flex-col gap-4 sm:border-b-0 sm:border-r-2 border-b-2 border-gray-100">
          <div class="label text-blue-600 font-bold text-lg">Total Revenue</div>
          <div class="data text-gray-800 text-base font-semibold">₦1,245.642</div>
          <p class="text-blue-600"> +8% from yesterday </p>
        </div>
  
        <div class="category w-full px-4 py-2 sm:py-0 flex flex-col gap-4 sm:border-b-0 sm:border-r-2 border-b-2 border-gray-100">
          <div class="label text-yellow-600 font-bold text-lg">Total Order</div>
          <div class="data text-gray-800 text-base font-semibold">308</div>
          <p class="text-blue-600"> +5% from yesterday </p>
        </div>
  
        <div class="category w-full px-4 py-2 sm:py-0 flex flex-col gap-4 sm:border-b-0 sm:border-r-2 border-b-2 border-gray-100">
          <div class="label text-purple-600 font-bold text-lg">Product Sold</div>
          <div class="data text-gray-800 text-base font-semibold">12</div>
          <p class="text-blue-600"> +1.2% from yesterday </p>
        </div>
  
        <div class="category w-full px-4 py-2 sm:py-0 flex flex-col gap-4 sm:border-b-0 sm:border-r-2 border-b-2 border-gray-100">
          <div class="label text-primary font-bold text-lg">Customers</div>
          <div class="data text-gray-800 text-base font-semibold flex justify-between">
            <p>42</p>
            <p>12</p>
          </div>
          <div class="data text-gray-700 text-base font-light text-end">New Customers</div>
        </div>
      </div>
    </div>
  
    <!-- Revenue Chart and Upcoming Events -->
    <div class="flex flex-col sm:flex-row space-x-0 sm:space-x-6 py-6 bg-gray-100 ">
      <!-- Revenue Chart -->
      <div class="w-full sm:w-3/5 mb-4 sm:mb-0">
        <app-revenue-chart></app-revenue-chart>
      </div>
  
      <!-- Upcoming Events -->
      <div class="w-full sm:w-2/5 mb-4 sm:mb-0">
        <div class="p-6 bg-white rounded-lg shadow-lg">
          <h2 class="text-xl font-semibold mb-4">Upcoming Events</h2>
  
          <!-- Event List -->
          <div class="space-y-6">
            <!-- Event Card -->
            <div *ngFor="let event of events" class="flex items-center justify-between">
              <div class="flex space-x-4">
                <div class="text-gray-500 ">
                  <div class="text-sm">{{ event.date | date: 'MMM' }}</div>
                  <div class="text-xl font-bold text-black">{{ event.date | date: 'd' }}</div>
                </div>
                <div class="border-s border-dotted border-red-400 px-2">
                  <h2 class="font-semibold text-black mb-2">{{ event.title }}</h2>
                  <p class="text-sm text-gray-500 lg:w-80 mb-2">
                    {{ event.description }}
                  </p>
                  <p class="text-sm font-bold text-black mb-2">{{ event.time }}</p>
                </div>
              </div>
              <button class="p-2 bg-red-300 rounded-full hover:bg-gray-300 focus:outline-none">
                ➔
              </button>
            </div>
          </div>
  
          <!-- Sell All -->
          <div class="text-red-500 text-sm text-center mt-4 cursor-pointer">
            Sell All ➔
          </div>
        </div>
      </div>
    </div>
  
    <!-- Table Section -->
    <div class="overflow-x-auto w-full sm:w-3/5 bg-white rounded-lg border p-2">
      <div class="flex justify-between p-3">
        <h1 class="font-semibold  lg:text-xl">Top Selling Stock</h1>
        <div class="flex gap-2 border p-2">
          <img src="/assets/icons/date.svg" alt="" class="w-20 h-20 md:w-full md:h-full">
          <select name="" id="" class="border-none outline-none text-sm">
            <option value="">Today</option>
            <option value="">Yesterday</option>
            <option value="">Tomorrow</option>
          </select>
        </div>
      </div>
      <hr />
      <table class="min-w-full table-auto divide-y max-w-full">
        <thead class="bg-white">
          <tr>
            <ng-container *ngFor="let row of tableHeader">
              <th scope="col" class="px-2 py-4 text-start">
                <div class="flex items-center gap-x-2">
                  <span class="text-xs font-semibold uppercase tracking-wide text-gray-800 truncate">
                    {{ row }}
                  </span>
                </div>
              </th>
            </ng-container>
          </tr>
        </thead>
  
        <tbody class="divide-y divide-gray-200">
          <tr *ngFor="let data of inventoryData">
            <ng-container>
              <td class="px-2 py-4" *ngFor="let key of objectKeys(data)">
                <div class="flex items-center gap-x-3">
                  <div class="grow">
                    <span class="block text-sm text-gray-500 truncate">{{ data[key] }}</span>
                  </div>
                </div>
              </td>
            </ng-container>
          </tr>
        </tbody>
      </table>
    </div>
  </section>
  