<div class="section">
  <div class="metrics flex flex-col gap-6 bg-white rounded-lg border p-4">
    <div class="title text-sm">Todays Order</div>
    <div class="data text-sm flex justify-between">
      <div class="category w-full px-4 flex flex-col gap-4 border-r-2 ">
        <div class="label text-blue-600 ">Total Revenue</div>
        <div *ngIf="!laoding" class="data text-gray-800 text-base font-semibold">
          ₦{{salesOverview.data.total_revenue | number:'1.0-2'}} <br>
        <span class="text-xs text-blue-400 mt-1">{{salesOverview.data.total_revenue_percentage}}% from yesterday</span>
        </div>
        <div *ngIf="laoding" class="data text-gray-800 text-base font-semibold">
          <i class="pi pi-spin pi-spinner" style="font-size: 1.25rem"></i>
        </div>
      </div>

      <div class="category w-full px-4 flex flex-col gap-4 border-r-2 ">
        <div class="label text-yellow-600 ">Total Order</div>
        <div *ngIf="!laoding" class="data text-gray-800 text-base font-semibold">
          {{salesOverview.data.total_orders}} <br>
          <span class="text-xs text-blue-400 mt-1">{{salesOverview.data.total_orders_percentage}}% from yesterday</span>
        </div>
        <div *ngIf="laoding" class="data text-gray-800 text-base font-semibold">
          <i class="pi pi-spin pi-spinner" style="font-size: 1.25rem"></i>
        </div>
      </div>

      <div class="category w-full px-4 flex flex-col gap-4 border-r-2 ">
        <div class="label text-purple-600 ">Product Sold</div>
        <div *ngIf="!laoding" class="data text-gray-800 text-base font-semibold">
          {{salesOverview.data.products_sold}} <br>
          <span class="text-xs text-blue-400 mt-1">{{salesOverview.data.products_sold_percentage}}% from yesterday</span>
        </div>
        <div *ngIf="laoding" class="data text-gray-800 text-base font-semibold">
          <i class="pi pi-spin pi-spinner" style="font-size: 1.25rem"></i>
        </div>
      </div>

      <div class="category w-full px-4 flex flex-col gap-4 border-r-2 ">
        <div class="label text-primary ">Customers</div>
        <div *ngIf="!laoding" class="data text-gray-800 text-base font-semibold">
          {{salesOverview.data.total_customers}} <br>
          <span class="text-xs text-blue-400 mt-1">{{salesOverview.data.total_customers_percentage}}% from yesterday</span>
        </div>
        <div *ngIf="laoding" class="data text-gray-800 text-base font-semibold">
          <i class="pi pi-spin pi-spinner" style="font-size: 1.25rem"></i>
        </div>
      </div>
    </div>
  </div>


  <!-- Top selling section -->
  <div class="stocke-section mt-8 w-full flex gap-8 ">
    <div class="top-selling bg-white p-4 text-sm h-[60vh] rounded-md basis-[100%]">
      <div class="heading flex justify-between items-center">
        <div class="title text-base font-bold capitalize text-gray-800">Top Selling Stock</div>

        <div class="text-primary flex gap-2 text-sm cursor-pointer active:scale-95">
          <div class="hs-dropdown text-sm [--strategy:absolute] [--flip:false] hs-dropdown-example relative inline-flex">
            <button (click)="toggleCalender()" id="hs-dropdown-example" type="button" class="py-2 px-4 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-gray-200 bg-white text-gray-800 shadow-sm hover:bg-gray-50 focus:outline-none focus:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none" aria-haspopup="menu" aria-expanded="false" aria-label="Dropdown">
              This month
              <svg class="hs-dropdown-open:rotate-180 size-4 text-gray-600" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <path d="m6 9 6 6 6-6"></path>
              </svg>
            </button>

            <div *ngIf="calender" class=" transition-[opacity,margin] duration w-32 absolute top-[48px]  z-10 mt-2 min-w-32 bg-white shadow-md rounded-lg p-2" role="menu" aria-orientation="vertical" aria-labelledby="hs-dropdown-example">
              <a class="flex items-center gap-x-3.5 py-2 px-3 rounded-lg text-sm text-gray-800 hover:bg-gray-100 focus:outline-none focus:bg-gray-100" href="#">
                2023
              </a>
              <a class="flex items-center gap-x-3.5 py-2 px-3 rounded-lg text-sm text-gray-800 hover:bg-gray-100 focus:outline-none focus:bg-gray-100" href="#">
                2022
              </a>
              <a class="flex items-center gap-x-3.5 py-2 px-3 rounded-lg text-sm text-gray-800 hover:bg-gray-100 focus:outline-none focus:bg-gray-100" href="#">
                2021
              </a>
              <a class="flex items-center gap-x-3.5 py-2 px-3 rounded-lg text-sm text-gray-800 hover:bg-gray-100 focus:outline-none focus:bg-gray-100" href="#">
                2020
              </a>
            </div>
          </div>
        </div>
      </div>

      <!-- table section -->
       <!-- Table -->
       <table class="w-full divide-y table-auto divide-gray-200 mt-4">
        <thead class=" text-sm">
          <tr>
            <th scope="col" class="px-6 py-3 text-start ">
              <span class="text-xs font-semibold uppercase tracking-wide text-gray-800">
                Name
              </span>
            </th>

            <th scope="col" class="px-6 py-3 text-start">
              <span class="text-xs font-semibold uppercase tracking-wide text-gray-800">
                Quantity(pcs)
              </span>
            </th>

            <th scope="col" class="px-6 py-3 text-start ">
              <span class="text-xs font-semibold uppercase tracking-wide text-gray-800">
                Rate
              </span>
            </th>

            <th scope="col" class="px-6 py-3 text-start ">
              <p class="text-xs font-semibold uppercase tracking-wide text-gray-800">
                Amount
              </p>
            </th>
          </tr>
        </thead>

        <tbody class="divide-y divide-gray-200">
          <ng-container *ngFor="let item of topSellingStock.data">
            <tr>
              <td class="size-px  px-6 py-3">
                  <p class="text-sm text-gray-500">{{item.name}}</p>
              </td>
              <td class="size-px  px-6 py-3">
                <div class="flex items-center gap-x-3">
                  <p class="font-semibold text-sm text-gray-500">{{item.total_quantity}}</p>
                </div>
              </td>
              <td class="size-px  px-6 py-3">
                <p class="text-sm text-gray-500">{{item.price}}</p>
              </td>
              <td class="size-px  px-6 py-3">
                <p class="text-sm text-gray-500">₦{{item.total_amount | number:'1.0-2'}}</p>
              </td>
            </tr>
          </ng-container>




        </tbody>
      </table>

      <div *ngIf="topSellingStock?.length <=0 && purchaseLoading" class="w-full flex justify-center items-center h-[50vh]">
        <app-spinner></app-spinner>
      </div>

      <div *ngIf="topSellingStock?.data?.length<=0 && !purchaseLoading ">
        <app-empty-list></app-empty-list>
       </div>
      <!-- End Table -->

    </div>
  </div>
   <!-- Top selling section end -->



</div>
