<div class="section">
  <div class="metrics flex flex-col gap-6 bg-white rounded-lg border p-4">
    <div class="title text-sm">Overall Inventory</div>
    <div class="data text-sm flex justify-between">
      <div class="category w-full px-4 flex flex-col gap-4 border-r-2 ">
        <div class="label text-blue-600 ">Category</div>
        <div class="data text-gray-800 text-base font-semibold">12</div>
      </div>

      <div class="category w-full px-4 flex flex-col gap-4 border-r-2 ">
        <div class="label text-yellow-600 ">Total Products</div>
        <div class="data text-gray-800 text-base font-semibold">12</div>
      </div>

      <div class="category w-full px-4 flex flex-col gap-4 border-r-2 ">
        <div class="label text-purple-600 ">Vendors</div>
        <div class="data text-gray-800 text-base font-semibold">12</div>
      </div>

      <div class="category w-full px-4 flex flex-col gap-4 border-r-2 ">
        <div class="label text-primary ">Low Stock</div>
        <div class="data text-gray-800 text-base font-semibold">12</div>
      </div>
    </div>
  </div>
</div>
