<div id="hs-application-sidebar" class="hs-overlay  [--auto-close:lg]
  hs-overlay-open:translate-x-0
  -translate-x-full transition-all duration-300 transform
  w-[260px] h-full
  hidden
  fixed inset-y-0 start-0 z-[60]
  bg-white border-e border-red-100
  lg:block lg:translate-x-0 lg:end-auto lg:bottom-0
 " role="dialog" tabindex="-1" aria-label="Sidebar">
  <div class="relative flex flex-col h-full max-h-full">
    <div class="px-6 pt-4">
      <!-- Logo -->
      <a class="flex-none rounded-xl text-xl inline-block font-semibold focus:outline-none focus:opacity-80" href="#" aria-label="Preline">
        <div class="w-full flex gap-4 items-center">
          <img src="/assets/logo.png" alt="">
          <span class="text-xl">Starters</span>
        </div>

      </a>
      <!-- End Logo -->
    </div>


    <!-- Content -->
    <div class="h-full py-4 overflow-y-auto [&::-webkit-scrollbar]:w-2 [&::-webkit-scrollbar-thumb]:rounded-full [&::-webkit-scrollbar-track]:bg-gray-100 [&::-webkit-scrollbar-thumb]:bg-gray-300">
      <nav class="hs-accordion-group p-2.5 px-4 cursor-pointer w-full flex flex-col flex-wrap" data-hs-accordion-always-open>
        <ul class="flex flex-col space-y-1" *ngFor="let row of menu">
          <li class="hs-accordion" id="users-accordion">
            <button (click)="route(row.route)" type="button" [ngClass]="{'bg-primary/25 text-primary border-primary border-l': url==row.route}" class="hs-accordion-toggle hover:bg-primary/25 hover:border-l-2 hover:text-primary hover:border-primary w-full text-start flex items-center gap-x-3.5 py-3 px-2.5 hover:text- text-sm text-gray-500  hover:bg-seccolor focus:outline-none focus:bg-seccolor" aria-expanded="true" aria-controls="users-accordion-child">
              <img src={{row.icon}} alt="">
              {{row.name}}

              <!-- <svg class="hs-accordion-active:block ms-auto hidden size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m18 15-6-6-6 6"/></svg> -->
              <span (click)="toggleDropdown()" *ngIf="row.submenu">
              <svg class="hs-accordion-active:hidden ms-auto block size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m6 9 6 6 6-6"/></svg>
              </span>
            </button>

            <div *ngIf="dropdown && row.submenu" id="users-accordion-child" class="hs-accordion-content w-full overflow-hidden transition-[height] duration-300 " role="region" aria-labelledby="users-accordion">
              <ul *ngFor="let item of row.submenu" class="hs-accordion-group ps-8 pt-1 space-y-1" data-hs-accordion-always-open>
                <li class="hs-accordion" id="users-accordion-sub-1">
                  <a (click)="route(item.route)" type="button" [ngClass]="{'text-primary': url==item.route}" class="hs-accordion-toggle w-full text-start hover:text-primary flex items-center gap-x-3.5 py-2 px-2.5 text-sm text-gray-500 rounded-lg hover:bg-seccolor focus:outline-none focus:bg-seccolor" aria-expanded="true" aria-controls="users-accordion-sub-1-child">
                    {{item.name}}
                  </a>

                </li>

              </ul>
            </div>
          </li>

        </ul>
      </nav>
    </div>
    <!-- End Content -->
  </div>
</div>
