<div class="p-6 bg-white rounded-lg shadow-lg">
    <div class="flex justify-between items-center mb-4">
    <div class="">
      <h2 class="sm:text-xl text-sm font-semibold">Revenue</h2>
       <!-- Total Revenue -->
        <div class="mt-4 sm:text-2xl text-sm font-bold">
        ₦1,245.642
        <p class="text-green-500 sm:text-sm text-xs">+3.4% from last period</p>
      </div>
      </div>
      <div class="flex space-x-2">
        <button class="text-gray-400 hover:text-black font-medium text-xs sm:text-xl">Today</button>
        <button class="text-red-400 hover:text-red-500 font-medium text-xs sm:text-xl">Week</button>
        <button class="text-gray-400 hover:text-black font-medium text-xs sm:text-xl">Month</button>
      </div>
    </div>
  
    <!-- Chart Canvas -->
    <div class="w-full"> 
      <canvas #revenueChart></canvas>
    </div>
  
   
  </div>
  