<div class="section">
  <div class="heading-section flex items-center justify-between">
    <div class="title text-2xl text-gray-800">Overview</div>

    <div class="hs-dropdown [--strategy:absolute] [--flip:false] hs-dropdown-example relative inline-flex">
      <button (click)="toggleCalender()" id="hs-dropdown-example" type="button" class="py-3 px-4 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-gray-200 bg-white text-gray-800 shadow-sm hover:bg-gray-50 focus:outline-none focus:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none" aria-haspopup="menu" aria-expanded="false" aria-label="Dropdown">
        This year
        <svg class="hs-dropdown-open:rotate-180 size-4 text-gray-600" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
          <path d="m6 9 6 6 6-6"></path>
        </svg>
      </button>

      <div *ngIf="calender" class=" transition-[opacity,margin] duration w-32 absolute top-[48px]  z-10 mt-2 min-w-32 bg-white shadow-md rounded-lg p-2" role="menu" aria-orientation="vertical" aria-labelledby="hs-dropdown-example">
        <a class="flex items-center gap-x-3.5 py-2 px-3 rounded-lg text-sm text-gray-800 hover:bg-gray-100 focus:outline-none focus:bg-gray-100" href="#">
          2023
        </a>
        <a class="flex items-center gap-x-3.5 py-2 px-3 rounded-lg text-sm text-gray-800 hover:bg-gray-100 focus:outline-none focus:bg-gray-100" href="#">
          2022
        </a>
        <a class="flex items-center gap-x-3.5 py-2 px-3 rounded-lg text-sm text-gray-800 hover:bg-gray-100 focus:outline-none focus:bg-gray-100" href="#">
          2021
        </a>
        <a class="flex items-center gap-x-3.5 py-2 px-3 rounded-lg text-sm text-gray-800 hover:bg-gray-100 focus:outline-none focus:bg-gray-100" href="#">
          2020
        </a>
      </div>
    </div>
  </div>


   <!-- graph section -->
   <div class="graph-section flex w-full  mt-8 bg-white">
    <div class="graph bg-white shadow-sm rounded-md p-4 basis-[75%]">
      <div class="graph-heading flex justify-between basis-1/2">
        <div class="title flex items-center capitalize gap-2 text-lg text-gray-800">
          Cash Flow
          <span>
          <img src="/assets/icons/question.png" class="object-fill" alt="">

          </span>
        </div>



      </div>

      <div class="graph-body basis-1/2">
        <p-chart type="line" [data]="data" [options]="options" />
      </div>
    </div>

    <div class="basis-[25%] flex items-center justify-end border-l">

      <div class="metrics p-6 flex flex-col gap-6">
        <div class="metric flex flex-col gap-1">
          <div class="label  text-gray-500">Total Revenue</div>
          <div class="data text-xl text-green-600">₦220,000,000</div>
        </div>

        <div class="metric flex flex-col gap-1">
          <div class="label  text-gray-500">Cash at hand</div>
          <div class="data text-xl text-green-600">₦50,000,000</div>
        </div>

        <div class="metric flex flex-col gap-1">
          <div class="label  text-gray-500">Outgoing</div>
          <div class="data text-xl text-red-600">₦21,000</div>
        </div>

        <div class="metric flex flex-col gap-1">
          <div class="label  text-gray-500">Current Loaned</div>
          <div class="data text-xl text-red-600">₦31,000</div>
        </div>
        <div></div>
      </div>

    </div>




  </div>
  <!-- graph section end -->



  <!-- table section start -->
  <div class=" mt-12">

    <div class="title text-xl text-gray-800">Expenses</div>

    <app-tab-menu [navigation]="tabMenu"></app-tab-menu>

    <app-table [tableHeader]="tableHeader" [tableData]="inventoryData" (viewAction)="route('app/prochurement/items/1')"></app-table>
  </div>
  <!-- table section end -->




</div>
