<div class="flex flex-col items-center md:flex-row lg:flex-row justify-start md:justify-between lg:justify-between">
  <h1 class="font-bold items-center text-2xl capitalize text-gray-800">Organisation Members</h1>

  <div  class="action-button cursor-pointer text-gray-500 flex mt-2 md:mt-0 lg:mt-0 md:flex-row lg:flex-row items-start md:items-center lg:items-center gap-2 lg:gap-4">


    <div (click)="route('/app/human-resources/create-department')" class="inline-flex items-center gap-x-2 text-sm font-medium  focus:outline-none focus:bg-accent disabled:opacity-50 disabled:pointer-events-none">
      <span class="flex items-center text-sm py-3 px-4 rounded-lg gap-1 border border-gray-200  shadow-sm hover:bg-gray-100">
        Create Department
        <span>
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
          </svg>
        </span>
      </span>

    </div>

    <div (click)="route('/app/human-resources/add-employee')" class="inline-flex items-center gap-x-2 text-sm font-medium  focus:outline-none focus:bg-accent disabled:opacity-50 disabled:pointer-events-none">
      <span class="flex items-center text-sm py-3 px-4 rounded-lg gap-1 border border-gray-200 bg-primary text-white shadow-sm hover:bg-secondary">
        Add Employee
        <img src='/assets/icons/add.png' class="h-5" alt="">
      </span>

    </div>


    <div>

    </div>

  </div>
</div>


<div class="metrics flex flex-col gap-6 bg-white rounded-lg border mt-8 p-4">
  <div class="title text-sm">Overview</div>
  <div class="data text-sm flex justify-between">
    <div class="category w-full px-4 flex flex-col gap-4 border-r-2 ">
      <div class="label text-blue-600 ">Number of Employees</div>
      <div *ngIf="!loading" class="data text-gray-800 text-base font-semibold">{{metrics?.data.employee_count}}</div>
      <div *ngIf="loading" class="data text-gray-800 text-base font-semibold">
        <i class="pi pi-spin pi-spinner" style="font-size: 1.25rem"></i>
      </div>
    </div>

    <div class="category w-full px-4 flex flex-col gap-4 border-r-2 ">
      <div class="label text-yellow-600 ">Departments</div>
      <div *ngIf="!loading" class="data text-gray-800 text-base font-semibold">{{metrics?.data.department_count}}</div>
      <div *ngIf="loading" class="data text-gray-800 text-base font-semibold">
        <i class="pi pi-spin pi-spinner" style="font-size: 1.25rem"></i>
      </div>
    </div>

    <div class="category w-full px-4 flex flex-col gap-4 border-r-2 ">
      <div class="label text-purple-600 ">Admin</div>
      <div *ngIf="!loading" class="data text-gray-800 text-base font-semibold">{{metrics?.data.admin_count}}</div>
      <div *ngIf="loading" class="data text-gray-800 text-base font-semibold">
        <i class="pi pi-spin pi-spinner" style="font-size: 1.25rem"></i>
      </div>
    </div>

    <div class="category w-full px-4 flex flex-col gap-4 border-r-2 ">
      <div class="label text-primary ">On leave</div>
      <div *ngIf="!loading" class="data text-gray-800 text-base font-semibold">{{metrics?.data.on_leave_count}}</div>
      <div *ngIf="loading" class="data text-gray-800 text-base font-semibold">
        <i class="pi pi-spin pi-spinner" style="font-size: 1.25rem"></i>
      </div>
    </div>
  </div>
</div>

             <!-- Table Section -->
 <!-- Card -->
 <div class="flex flex-col mt-6">
  <div class="overflow-x-auto">
    <div class="min-w-full inline-block align-middle">
      <div class="bg-white border border-gray-200  shadow-sm overflow-hidden">
         <!-- Header -->
         <div class="px-6 py-6 grid gap-3 md:flex md:justify-between md:items-center border-b border-gray-200">
          <div class="title"></div>
        </div>
        <!-- End Header -->

        <!-- Table -->
        <table class="min-w-full table-auto divide-y max-w-full">
          <thead class="bg-gray-50">
            <tr>
              <ng-container *ngFor="let row of tableHeader">
                <th scope="col" class="w-10 ps-2 px-2 py-2 text-start" *ngIf="row=='Name'">
                  <label for="hs-at-with-checkboxes-main" class="flex">
                    <input type="checkbox" class="shrink-0 border-secondary rounded text-primary focus:ring-primary">
                    <span class="sr-only">Checkbox</span>
                  </label>
                </th>



                <th scope="col" class="ps-2 lg:ps-1 xl:ps-0 pe-2 py-3 text-start">
                  <div class="flex items-center gap-x-2">
                    <span class="text-xs font-semibold uppercase tracking-wide text-gray-800 truncate">
                      {{row}}
                    </span>
                  </div>
                </th>
              </ng-container>
            </tr>
          </thead>
          <tbody  class="divide-y divide-gray-200">
            <ng-container *ngFor="let data of employees">
              <tr (click)="route('app/human-resources/employee-profile/' + data.id)" >
                  <td class="w-10 whitespace-nowrap">
                    <div class="ps-2 py-4">
                        <label for="hs-at-with-checkboxes-1" class="flex">
                        <input type="checkbox" class="shrink-0 border-secondary rounded text-primary focus:ring-primary">
                        <span class="sr-only">Checkbox</span>
                        </label>
                    </div>
                    </td>

                    <td   class="px-2 py-2">
                      <div  class="flex items-center gap-x-3 text-sm text-gray-500">
                          {{data.name}}
                    </div>
                    </td>

                    <td class="px-2 py-2">
                      <div  class="flex items-center gap-x-3 text-sm text-gray-500">
                          {{data.department}}
                      </div>
                    </td>

                    <td class="px-2 py-2">
                      <div  class="flex items-center gap-x-3 text-sm text-gray-500">
                          {{data.salary}}
                      </div>
                    </td>

                    <td class="px-2 py-2">
                      <div  class="flex items-center gap-x-3 text-sm text-gray-500">
                        {{data.bank_details.account_number}}
                          {{data.bank_details.bank_name}}
                      </div>
                    </td>

                    <td class="px-2 py-2">
                      <div  class="flex items-center gap-x-3 text-sm text-gray-500">
                          {{data.leave_status}}
                      </div>
                    </td>

                  </tr>
                </ng-container>

            <!-- <tr *ngFor="let item of tableData">
              <td *ngFor="let key of objectKeys(item)">{{ item[key] }}</td>
            </tr> -->
          </tbody>
        </table>
        <!-- End Table -->


        <div *ngIf="employees.length<=0 && pageLoading" class="w-full flex justify-center items-center h-[50vh]">
          <app-spinner></app-spinner>
        </div>

        <div *ngIf="employees?.length<=0 && !pageLoading ">
          <app-empty-list></app-empty-list>
         </div>

        <!-- Footer -->
        <div class="px-6 py-4 grid gap-3 md:flex md:justify-between md:items-center border-t border-gray-200">
          <div>
            <p class="text-sm text-gray-600">
              <span class="font-semibold text-gray-800">12</span> results
            </p>
          </div>

          <div>
            <div class="inline-flex gap-x-2">
              <button type="button" class="py-1.5 px-2 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-gray-200 bg-white text-gray-800 shadow-sm hover:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none focus:outline-none focus:bg-gray-50">
                <svg class="shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m15 18-6-6 6-6"/></svg>
                Prev
              </button>

              <button type="button" class="py-1.5 px-2 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-gray-200 bg-white text-gray-800 shadow-sm hover:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none focus:outline-none focus:bg-gray-50">
                Next
                <svg class="shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m9 18 6-6-6-6"/></svg>
              </button>
            </div>
          </div>
        </div>
        <!-- End Footer -->
      </div>
    </div>
  </div>
</div>
<!-- End Card -->
<!-- End Table Section -->



