<div class="section relative">
    <app-sub-header
      pageTitle="All Customers"
      action1Name="New Customers"
      icon='assets/icons/add.png'
      buttonStyle="active:scale-95 bg-primary text-sm text-white p-2 hover:gray-400" (action1)="route('app/sales/customers/create-new-customer')"></app-sub-header>
  
        <!-- Table Section -->

  <div class=" mt-12">
    <!-- Card -->
    <div class="flex flex-col">
      <div class="-m-1.5 overflow-x-auto">
        <div class="p-1.5 min-w-full inline-block align-middle">
          <div class="bg-white border border-gray-200 rounded-xl shadow-sm overflow-hidden"> 
           <!-- Header -->
            <div class="px-6 py-6 grid gap-3 md:flex md:justify-between md:items-center border-b border-gray-200">
  
            </div> 
            <!-- End Header -->
  
            <!-- Table -->
            <div class="overflow-x-auto">
              <table class="min-w-full table-auto divide-y max-w-full">
                <thead class="bg-gray-50">
                  <tr>
                    <ng-container *ngFor="let row of tableHeader">
                      <th scope="col" class="w-10 ps-2 py-4 text-start" *ngIf="row=='Name'">
                        <label for="hs-at-with-checkboxes-main" class="flex">
                          <input type="checkbox" class="shrink-0 border-secondary rounded text-primary focus:ring-primary">
                          <span class="sr-only">Checkbox</span>
                        </label>
                      </th>
                      <th scope="col" class="ps-2 lg:ps-1 xl:ps-0 pe-2 py-3 text-start">
                        <div class="flex items-center gap-x-2">
                          <span class="text-xs font-semibold uppercase tracking-wide text-gray-800 truncate">
                            {{row}}
                          </span>
                        </div>
                      </th>
                    </ng-container>
                  </tr>
                </thead>


                <tbody class="divide-y divide-gray-200">
                  <tr *ngFor="let data of customerData" (click)="route('app/sales/customers/overview')">
                    <ng-container>
                    <td class="w-10 whitespace-nowrap">
                      <div class="ps-2 py-4">
                        <label for="hs-at-with-checkboxes-1" class="flex">
                          <input type="checkbox" class="shrink-0 border-secondary rounded text-primary focus:ring-primary">
                          <span class="sr-only">Checkbox</span>
                        </label>
                      </div>
                    </td>
                    <td class="px-2 py-4">
                      <div class="flex items-center gap-x-3">
                        <div class="grow">
                          <span class="block text-sm text-gray-500 truncate">{{data.name}}</span>
                        </div>
                      </div>
                    </td>
                    <td class="px-2 py-4">
                      <div class="flex items-center gap-x-3">
                        <div class="grow">
                          <span class="block text-sm  text-gray-500 truncate">{{data.company_name}}</span>
                        </div>
                      </div>
                    </td>
                    <td class="px-2 py-4">
                      <div class="flex items-center gap-x-3">
                        <div class="grow">
                          <span class="block text-sm  text-gray-500 truncate">{{data.email}}</span>
                        </div>
                      </div>
                    </td>
                    <td class="px-2 py-4">
                      <div class="flex items-center gap-x-3">
                        <div class="grow">
                          <span class="block text-sm  text-gray-500 truncate">{{data.work_phone}}</span>
                        </div>
                      </div>
                    </td>
                    <td class="px-2 py-4">
                      <div class="flex items-center gap-x-3">
                        <div class="grow">
                          <span class="block text-sm  text-gray-500 truncate">{{data.address}}</span>
                        </div>
                      </div>
                    </td>
                    <td class="px-2 py-4">
                      <div class="flex items-center gap-x-3">
                        <div class="grow">
                          <span class="block text-sm  text-gray-500 truncate">{{data.total_transaction}}</span>
                        </div>
                      </div>
                    </td>
                    <td class="px-2 py-4">
                      <div class="flex items-center gap-x-3">
                        <div class="grow">
                          <span class="block text-sm  text-gray-500 truncate" 
                          [class.text-red-500]="data.status === 'owing'" 
                          [class.text-green-500]="data.status === 'paid'" 
                          >{{data.status}}</span>
                        </div>
                      </div>
                    </td>
                  </ng-container>
                    <!-- 
                    <td class="px-2 py-4"> -
                        <div class="flex items-center gap-x-3">
                          <div class="grow">
                            <span class="block text-sm  text-gray-500 truncate">agrotech&#364;gmail.com</span>
                          </div>
                        </div>
                      </td>
                    <td class="px-2 py-4">
                      <div class="flex items-center gap-x-3">
                        <div class="grow">
                          <span class="block text-sm  text-gray-500 truncate">09023453211</span>
                        </div>
                      </div>
                    </td>
                    <td class="px-2 py-4">
                      <div class="flex items-center gap-x-3">
                        <div class="grow">
                          <span class="block text-sm  text-gray-500 truncate">Adetokunbo Ademola cres, Qwarinpa Abuja</span>
                        </div>
                      </div>
                    </td>
                    <td class="px-2 py-4">
                      <div class="flex items-center gap-x-3">
                        <div class="grow">
                          <span class="block text-sm  text-gray-500 truncate">₦50,000.00</span>
                        </div>
                      </div>
                    </td> 
                     <td class="px-2 py-4"> 
                      <div class="flex items-center gap-x-3">
                        <div class="grow">
                          <span class="block text-sm  text-gray-500 truncate">EPG-</span>
                        </div>
                      </div>
                    </td>
                    <td class="px-2 py-4">
                      <div class="flex items-center gap-x-3">
                        <div class="grow">
                          <span class="block text-sm  text-gray-500 truncate">₦750,000.00</span>
                        </div>
                      </div>
                    </td> 
                    <td class="px-2 py-4">
                      <div class="flex items-center gap-x-3">
                        <div class="grow">
                          <span class="block text-sm  text-gray-500 truncate">Pending</span>
                        </div>
                      </div>
                    </td> -->
                    <!-- Repeat for other cells -->
                  </tr>
                 </tbody>
              </table>
            </div>

            <div class="flex flex-col sm:flex-row items-center justify-between p-4 bg-white rounded-lg border">
              <!-- Pagination Buttons -->
              <div class="flex items-center gap-2">
                <!-- Prev Button -->
                <button
                  class="px-3 py-2 border rounded hover:bg-gray-200 focus:outline-none"
                  (click)="onPageChange(currentPage - 1)"
                  [disabled]="currentPage === 1"
                >
                  Prev
                </button>
            
                <!-- Page Numbers -->
                <ng-container *ngFor="let page of pages; let i = index">
                  <button
                    class="px-3 py-2 border rounded hover:bg-gray-200 focus:outline-none"
                    [class.bg-red-500]="currentPage === page"
                    [class.text-white]="currentPage === page"
                    (click)="onPageChange(page)"
                  >
                    {{ page }}
                  </button>
                </ng-container>
            
                <!-- Next Button -->
                <button
                  class="px-3 py-2 border rounded hover:bg-gray-200 focus:outline-none"
                  (click)="onPageChange(currentPage + 1)"
                  [disabled]="currentPage === totalPages"
                >
                  Next
                </button>
              </div>
   
            <!-- End Table -->
  
            <!-- Footer -->
            <!-- <div class="px-6 py-4 grid gap-3 md:flex md:justify-between md:items-center border-t border-gray-200">
              <div>
                <p class="text-sm text-gray-600">
                  <span class=" text-gray-500">12</span> results
                </p>
              </div> -->
  
              <!-- <div>
                <div class="inline-flex gap-x-2">
                  <button type="button" class="py-1.5 px-2 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-gray-200 bg-white text-gray-800 shadow-sm hover:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none focus:outline-none focus:bg-gray-50">
                    <svg class="shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m15 18-6-6 6-6"/></svg>
                    Prev
                  </button>
  
                  <button type="button" class="py-1.5 px-2 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-gray-200 bg-white text-gray-800 shadow-sm hover:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none focus:outline-none focus:bg-gray-50">
                    Next
                    <svg class="shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m9 18 6-6-6-6"/></svg>
                  </button>
                </div>
              </div> 
            </div>  -->
            <!-- End Footer -->
           </div>
        </div>
      </div>
    </div> 
    <!-- End Card -->
  </div> 
  <!-- End Table Section -->
  
  </div>


  
  
  
  